Repository etcd-io/etcd, pull requests merged in 2021-02, with the labels that each got.

#12669 Implement endpoint watch and resolver
  Documentation/dev-guide/grpc_naming.md
  client/v3/client.go
  client/v3/naming/endpoints/endpoints.go
  client/v3/naming/endpoints/endpoints_impl.go
  client/v3/naming/resolver/resolver.go
  tests/integration/clientv3/naming/endpoints_test.go
  tests/integration/clientv3/naming/resolver_test.go
Labels: area/clientv3

#12674 Fix pkg/tlsutil (test) to not fail on 386.
  .travis.yml
  pkg/tlsutil/cipher_suites.go
  pkg/tlsutil/cipher_suites_test.go
Labels: area/testing

#11889 raftexample: Fix recovery from snapshot
  contrib/raftexample/kvstore.go
  contrib/raftexample/raft.go
  contrib/raftexample/raftexample_test.go
Labels: area/raft

#12675 Cleanup grpc client/v3/naming API
  client/v3/naming/endpoints/endpoints_impl.go
  client/v3/naming/grpc.go
  server/proxy/grpcproxy/cluster.go
  server/proxy/grpcproxy/register.go
  tests/integration/clientv3/grpc_test.go
  tests/integration/proxy/grpcproxy/register_test.go
Labels: area/clientv3

#11964 raft: implement fast log rejection
  raft/log.go
  raft/raft.go
  raft/raft_paper_test.go
  raft/raft_test.go
  raft/raftpb/raft.proto
  raft/rafttest/interaction_env.go
  raft/rafttest/interaction_env_handler.go
  raft/rafttest/interaction_env_handler_process_ready.go
  raft/rafttest/interaction_env_handler_stabilize.go
  raft/testdata/campaign_learner_must_vote.txt
  raft/testdata/confchange_v1_add_single.txt
  raft/testdata/confchange_v2_add_double_auto.txt
  raft/testdata/confchange_v2_add_double_implicit.txt
  raft/testdata/confchange_v2_add_single_auto.txt
  raft/testdata/confchange_v2_add_single_explicit.txt
  raft/testdata/probe_and_replicate.txt
  raft/tracker/progress.go
Labels: area/raft

#12670 raft: makes 'ConnReadTimeout/ConnWriteTimeout' customizable
  server/etcdmain/config.go
  server/etcdserver/api/rafthttp/peer.go
  server/etcdserver/server.go
Labels: area/raft

#12637 raft: check `VotersOutgoing` for snapshot
  raft/raft.go
  raft/raft_test.go
Labels: area/raft

#12671 clientv3: Replace balancer with upstream grpc solution
  bill-of-materials.json
  client/v3/balancer/balancer.go
  client/v3/balancer/balancer_test.go
  client/v3/balancer/connectivity/connectivity.go
  client/v3/balancer/picker/doc.go
  client/v3/balancer/picker/err.go
  client/v3/balancer/picker/picker.go
  client/v3/balancer/picker/roundrobin_balanced.go
  client/v3/balancer/resolver/endpoint/endpoint.go
  client/v3/balancer/utils.go
  client/v3/balancer/utils_test.go
  client/v3/client.go
  client/v3/go.mod
  client/v3/go.sum
  client/v3/internal/endpoint/endpoint.go
  client/v3/internal/endpoint/endpoint_test.go
  client/v3/internal/resolver/resolver.go
  etcdctl/go.sum
  go.sum
  server/go.sum
  tests/go.sum
Labels: area/clientv3

#12196 etcdserver: fix incorrect metrics generated when clients cancel watches
  api/v3rpc/rpctypes/error.go
  server/etcdserver/api/v3rpc/interceptor.go
  server/etcdserver/api/v3rpc/watch.go
  tests/e2e/metrics_test.go
Labels: Release-Note

#12727 ClientV3: Ordering: Fix TestEndpointSwitchResolvesViolation test
  client/v3/ordering/util.go
  server/etcdmain/grpc_proxy.go
  tests/integration/clientv3/ordering_util_test.go
Labels: area/clientv3

#12730 clientv3: Cleaning up dead logger code
  client/v3/logger.go
  pkg/logutil/discard_logger.go
  pkg/logutil/logger.go
  pkg/logutil/logger_test.go
Labels: area/clientv3
