Repository etcd-io/etcd, pull requests merged in 2022-11, with the labels that each got.

#14693 test: fix pipeline errors due to PRs conflict
  tests/common/auth_util.go
  tests/common/maintenance_auth_test.go
Labels: stage/merge-when-tests-green

#14545 raft: simplify auto-leave joint config on entry application logic
  raft/raft.go
  raft/raftpb/confchange.go
Labels: area/raft

#14703 raft: remove the raft dependency on go.etcd.io/etcd/client/pkg/v3
  raft/go.mod
  raft/go.sum
  raft/node_test.go
Labels: area/raft

#14705 raft: Remove dependency on etcd api
  raft/go.mod
  raft/raftpb/raft.pb.go
  raft/raftpb/raft.proto
  scripts/etcd_version_annotations.txt
  server/storage/wal/version.go
  server/storage/wal/version_test.go
  tools/proto-annotations/cmd/etcd_version.go
Labels: area/raft

#14711 tests: refactor `EtcdProcessClusterConfig` using Functional Options Pattern
  tests/framework/e2e/cluster.go
Labels: stage/merge-when-tests-green

#14633 raft: send empty appends when replication is paused
  raft/raft.go
  raft/raft_flow_control_test.go
  raft/raft_snap_test.go
  raft/raft_test.go
  raft/rafttest/interaction_env.go
  raft/rafttest/interaction_env_handler_add_nodes.go
  raft/testdata/replicate_pause.txt
  raft/tracker/inflights.go
  raft/tracker/inflights_test.go
  raft/tracker/progress.go
  raft/tracker/progress_test.go
Labels: area/raft

#14708 raft/tracker: use testify packages in tests
  raft/go.mod
  raft/go.sum
  raft/tracker/inflights_test.go
  raft/tracker/progress_test.go
Labels: area/raft

#14592 raft: make Message.Snapshot nullable, halve struct size
  contrib/raftexample/raft_test.go
  raft/raft.go
  raft/raft_test.go
  raft/raftpb/raft.pb.go
  raft/raftpb/raft.proto
  raft/raftpb/raft_test.go
  raft/util.go
  server/etcdserver/api/rafthttp/functional_test.go
  server/etcdserver/api/rafthttp/snapshot_test.go
  server/etcdserver/server_test.go
  server/etcdserver/snapshot_merge.go
  server/etcdserver/txn/util_bench_test.go
Labels: area/raft

#14704 etcdclient: check mutex state in Unlock method of concurrency.Mutex
  client/v3/concurrency/mutex.go
  tests/integration/clientv3/concurrency/mutex_test.go
Labels: area/clientv3, stage/merge-when-tests-green

#14714 tests: Preserve data dir from failed linearizability tests
  tests/linearizability/linearizability_test.go
Labels: stage/merge-when-tests-green

#14720 raft: clarify conditions in unstable.stableTo
  raft/log_unstable.go
Labels: area/raft

#14722 raft: delete unused Ready.containsUpdates method
  raft/node.go
  raft/node_test.go
  raft/rawnode.go
Labels: area/raft

#14719 raft: rename raftLog.nextEnts to raftLog.nextCommittedEnts
  raft/log.go
  raft/log_test.go
  raft/node.go
  raft/node_test.go
  raft/raft_paper_test.go
  raft/rawnode.go
  raft/rawnode_test.go
Labels: area/raft

#14730 etcdserver: call the OnPreCommitUnsafe in unsafeCommit
  server/storage/backend/batch_tx.go
Labels: priority/important

#14717 feat: use testify packages in tests
  raft/storage_test.go
  raft/util_test.go
Labels: area/raft

#14624 raft: add MaxInflightBytes limit to the outgoing messages flow
  CHANGELOG/CHANGELOG-3.6.md
  raft/confchange/confchange.go
  raft/confchange/datadriven_test.go
  raft/confchange/quick_test.go
  raft/confchange/restore_test.go
  raft/raft.go
  raft/raft_test.go
  raft/tracker/inflights.go
  raft/tracker/inflights_test.go
  raft/tracker/progress.go
  raft/tracker/progress_test.go
  raft/tracker/tracker.go
Labels: area/raft

#14672 Expect exit code enhancement
  pkg/expect/expect.go
  pkg/expect/expect_test.go
  tests/common/txn_test.go
  tests/e2e/ctl_v3_auth_test.go
  tests/e2e/ctl_v3_elect_test.go
  tests/e2e/ctl_v3_kv_test.go
  tests/e2e/ctl_v3_lock_test.go
  tests/e2e/ctl_v3_move_leader_test.go
  tests/e2e/ctl_v3_snapshot_test.go
  tests/e2e/ctl_v3_test.go
  tests/e2e/ctl_v3_txn_test.go
  tests/e2e/etcd_config_test.go
  tests/e2e/gateway_test.go
  tests/e2e/no_quorum_ready_test.go
  tests/e2e/utl_migrate_test.go
  tests/e2e/v3_cipher_suite_test.go
  tests/e2e/v3_curl_maxstream_test.go
  tests/e2e/v3_curl_test.go
  tests/framework/e2e/cluster.go
  tests/framework/e2e/curl.go
  tests/framework/e2e/etcd_process.go
  tests/framework/e2e/util.go
  tests/linearizability/failpoints.go
Labels: stage/merge-when-tests-green

#14742 tests/e2e: disable testShellCompletion if enable cov flag
  tests/e2e/ctl_v3_completion_test.go
Labels: stage/merge-when-tests-green

#14685 Revision inconsistency caused by panic during defrag
  tests/linearizability/client.go
  tests/linearizability/model.go
  tests/linearizability/model_test.go
Labels: priority/important, stage/merge-when-tests-green

#14753 all: Use ReplaceAll instead of Replace with -1 pos
  contrib/lock/storage/storage.go
  pkg/cobrautl/help.go
  pkg/flags/flag.go
  tests/e2e/ctl_v3_grpc_test.go
  tests/functional/runner/help.go
  tests/integration/grpc_test.go
  tests/linearizability/linearizability_test.go
Labels: stage/merge-when-tests-green

#14723 raft: clean up IsLocalMsg and IsResponseMsg logic
  raft/raftpb/raft.proto
  raft/util.go
  raft/util_test.go
Labels: area/raft

#14721 raft: don't apply entries when applying snapshot
  raft/log.go
  raft/log_test.go
Labels: area/raft

#14747 feat: raft/log_test se testify packages in tests
  raft/log_test.go
Labels: area/raft

#14754 client: Use func without format
  client/pkg/fileutil/lock_windows.go
  client/pkg/testutil/leak.go
  client/pkg/transport/keepalive_listener.go
  client/pkg/transport/listener.go
  client/pkg/transport/sockopt_solaris.go
  client/pkg/transport/sockopt_windows.go
  client/pkg/transport/tls.go
  client/v2/client.go
  client/v2/client_test.go
  client/v3/client.go
  client/v3/client_test.go
  client/v3/concurrency/key.go
  client/v3/logger.go
  client/v3/watch.go
Labels: stage/merge-when-tests-green

#14756 all: Change time unit
  server/etcdserver/api/v2store/store_ttl_test.go
  tests/e2e/ctl_v3_auth_test.go
Labels: stage/merge-when-tests-green

#14761 Update CodeQL to v2
  .github/workflows/codeql-analysis.yml
Labels: stage/merge-when-tests-green

#14767 all: Change Printf and friends to Print if there is no formatting
  contrib/lock/client/client.go
  etcdctl/ctlv3/command/member_command.go
  etcdctl/ctlv3/command/printer_fields.go
  etcdctl/ctlv3/command/printer_simple.go
  etcdctl/ctlv3/command/user_command.go
  pkg/report/report.go
  raft/tracker/progress.go
  raft/tracker/tracker.go
  raft/util.go
  server/etcdserver/api/etcdhttp/debug.go
  server/etcdserver/api/rafthttp/stream_test.go
  server/main_test.go
  tests/e2e/ctl_v3_move_leader_test.go
  tests/e2e/metrics_test.go
  tests/functional/tester/stresser_lease.go
  tests/integration/embed/embed_test.go
  tools/benchmark/cmd/util.go
  tools/etcd-dump-logs/main.go
Labels: stage/merge-when-tests-green

#14785 tests: refactor EtcdProcessClusterConfig using Functional Options Pattern
  tests/e2e/cluster_downgrade_test.go
  tests/e2e/corrupt_test.go
  tests/e2e/ctl_v3_auth_cluster_test.go
  tests/e2e/ctl_v3_grpc_test.go
  tests/e2e/ctl_v3_make_mirror_test.go
  tests/e2e/ctl_v3_move_leader_test.go
  tests/e2e/ctl_v3_snapshot_test.go
  tests/e2e/ctl_v3_test.go
  tests/e2e/discovery_test.go
  tests/e2e/discovery_v3_test.go
  tests/e2e/etcd_grpcproxy_test.go
  tests/e2e/etcd_mix_versions_test.go
  tests/e2e/etcd_release_upgrade_test.go
  tests/e2e/gateway_test.go
  tests/e2e/utl_migrate_test.go
  tests/e2e/v2store_deprecation_test.go
  tests/e2e/v3_curl_maxstream_test.go
  tests/e2e/zap_logging_test.go
  tests/framework/e2e/cluster.go
  tests/framework/e2e/e2e.go
  tests/linearizability/linearizability_test.go
Labels: stage/merge-when-tests-green

#14770 clientv3: do not refresh token when users use CommonName based authentication
  client/v3/retry_interceptor.go
  tests/e2e/ctl_v3_auth_cluster_test.go
  tests/e2e/ctl_v3_auth_no_proxy_test.go
  tests/fixtures/CommonName-root.crt
  tests/fixtures/CommonName-root.key
Labels: area/clientv3, area/auth, backport/v3.5

#13552 release: build with consistent paths
  scripts/build-binary.sh
  scripts/build_lib.sh
  tests/functional/build.sh
Labels: stage/merge-when-tests-green

#14795 feat: raft/log_unstable_test use testify packages in tests
  raft/log_unstable_test.go
Labels: area/testing, area/raft

#14840 Shell func go_srcs_in_module to list go src+test files (#14827)
  api/etcdserverpb/raft_internal_stringer_test.go
  etcdctl/main_test.go
  etcdutl/main_test.go
  pkg/ioutil/pagewriter_test.go
  raft/node_test.go
  raft/raft_test.go
  raft/rawnode_test.go
  scripts/test_lib.sh
  server/auth/store_test.go
  server/etcdserver/api/v2store/stats_test.go
  server/etcdserver/api/v2store/store_ttl_test.go
  server/etcdserver/api/v3discovery/discovery_test.go
  server/etcdserver/raft_test.go
  server/etcdserver/server_test.go
  server/lease/lessor_bench_test.go
  server/storage/mvcc/hash_test.go
  server/storage/mvcc/key_index_test.go
  server/storage/mvcc/kv_test.go
  server/storage/mvcc/kvstore_bench_test.go
  server/storage/mvcc/watchable_store_bench_test.go
  server/storage/wal/wal_test.go
  tests/common/unit_test.go
  tests/e2e/ctl_v3_snapshot_test.go
  tests/e2e/etcd_mix_versions_test.go
  tests/e2e/promote_experimental_flag_test.go
  tests/e2e/v3_curl_maxstream_test.go
  tests/integration/clientv3/experimental/recipes/v3_queue_test.go
  tests/integration/clientv3/lease/lease_test.go
  tests/integration/clientv3/maintenance_test.go
  tests/integration/clientv3/user_test.go
  tests/integration/cluster_test.go
  tests/integration/hashkv_test.go
  tests/integration/v2store/store_tag_test.go
  tests/integration/v2store/store_test.go
  tests/integration/v3_election_test.go
  tests/integration/v3_grpc_test.go
  tests/integration/v3_lease_test.go
  tests/integration/v3_watch_test.go
Labels: stage/merge-when-tests-green
