Repository etcd-io/etcd, pull requests merged in 2023-08, with the labels that each got.

#16379 Bump golang.org/x/sys from 0.10.0 to 0.11.0
  api/go.mod
  api/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
Labels: stage/merge-when-tests-green

#16384 replace github.com/gyuho/gocovmerge with github.com/wadey/gocovmerge
  scripts/test.sh
  tools/mod/go.mod
  tools/mod/go.sum
  tools/mod/tools.go
Labels: dependencies, type/cleanup

#16394 Migrate to golang 1.20
  .devcontainer/devcontainer.json
  .github/workflows/e2e-arm64-template.yaml
  .github/workflows/robustness-template-arm64.yaml
  .github/workflows/tests-arm64-template.yaml
  .go-version
  api/go.mod
  client/internal/v2/go.mod
  client/pkg/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
Labels: backport/v3.4, backport/v3.5

#16444 [3.5] tests: Backport recent test flake fixes
  pkg/ioutil/pagewriter_test.go
  tests/e2e/watch_delay_test.go
Labels: stage/merge-when-tests-green

#16455 Minor update to test code to remove a local var
  tests/e2e/v2store_deprecation_test.go
Labels: stage/merge-when-tests-green

#16458 test: verify snap.Load() is sucessful
  tests/e2e/cluster_downgrade_test.go
Labels: stage/merge-when-tests-green
