Repository etcd-io/etcd, pull requests merged in 2024-09, with the labels that each got.

#18514 [3.5] Introduce the CompactionSleepInterval flag
  server/config/config.go
  server/embed/config.go
  server/embed/etcd.go
  server/etcdmain/config.go
  server/etcdmain/help.go
  server/etcdserver/server.go
  server/mvcc/kvstore.go
  server/mvcc/kvstore_compaction.go
  server/mvcc/kvstore_test.go
Labels: ok-to-test, size/M, approved

#18536 [2024-09-03] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#18550 [3.5] update Go to 1.22.7
  .go-version
  api/go.mod
  client/pkg/go.mod
  client/v2/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  raft/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
Labels: size/S, approved

#18549 [3.4] update Go to 1.22.7
  .go-version
  functional/scripts/docker-local-agent.sh
  functional/scripts/docker-local-tester.sh
  go.mod
  tools/mod/go.mod
Labels: size/S, approved

#18553 CHANGELOG: add note regarding updating to go 1.22.7
  CHANGELOG/CHANGELOG-3.4.md
  CHANGELOG/CHANGELOG-3.5.md
Labels: size/XS, approved

#18545 benchmark: support InsecureSkipVerify
  tools/benchmark/cmd/root.go
Labels: area/performance, area/tooling, ok-to-test, size/XS, approved

#18539 Support scan-keys command to scan the key space starting a specific revision
  tools/etcd-dump-db/README.md
  tools/etcd-dump-db/main.go
  tools/etcd-dump-db/meta.go
  tools/etcd-dump-db/page.go
  tools/etcd-dump-db/scan.go
  tools/etcd-dump-db/utils.go
Labels: area/tooling, size/L, approved

#18555 Fix races in TestLessorRenewExtendPileup
  server/lease/lessor.go
  server/lease/lessor_test.go
Labels: backport/v3.4, backport/v3.5, ok-to-test, size/M, approved

#18570 Backport TestLessorRenewExtendPileup race condition fix for release-3.5
  server/lease/lessor.go
  server/lease/lessor_test.go
Labels: ok-to-test, size/M, approved

#18569 [3.4] Backport TestLessorRenewExtendPileup race condition fix
  lease/lessor.go
  lease/lessor_test.go
Labels: ok-to-test, size/M, approved

#18556 CHANGELOG: add note for the CompactionSleepInterval flag(PR 18514)
  CHANGELOG/CHANGELOG-3.5.md
Labels: ok-to-test, size/XS, approved

#18573 CHANGELOG: Update release date for v3.5.16
  CHANGELOG/CHANGELOG-3.5.md
Labels: size/XS, approved

#18572 Improve release documentation
  Documentation/contributor-guide/release.md
Labels: area/documentation, size/XS, approved

#18444 [main] Bump go toolchain to 1.22.7
  .go-version
  api/go.mod
  client/internal/v2/go.mod
  client/pkg/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
  tools/rw-heatmaps/go.mod
  tools/testgrid-analysis/go.mod
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/S, approved

#18577 CHANGELOG: set release 3.4.34 date
  CHANGELOG/CHANGELOG-3.4.md
Labels: size/XS, approved

#18579 docs: remove warning that etcd 3.5.0 was not yet released
  client/v3/README.md
Labels: ok-to-test, size/XS, approved

#18575 [2024-09-11] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/rw-heatmaps/go.mod
  tools/rw-heatmaps/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#18592 Ensure commits are signed in `scripts/release.sh`
  scripts/release.sh
Labels: area/tooling, backport/v3.5, size/XS, approved

#18574 Ensure consistent file permissions on broken WAL files
  server/storage/wal/repair.go
  server/storage/wal/repair_test.go
Labels: ok-to-test, size/S, approved

#18587 [3.4] release: push tag after creating it
  scripts/release.sh
Labels: size/S, approved

#18603 Rename modules_exp to modules_for_bom to improve code and clarity
  scripts/test.sh
  scripts/test_lib.sh
  scripts/updatebom.sh
Labels: ok-to-test, size/XS, approved

#18510 Use errors.Is for error equality checks
  client/pkg/fileutil/lock_flock.go
  pkg/proxy/server.go
  server/etcdserver/api/v3compactor/periodic.go
  server/etcdserver/api/v3discovery/discovery.go
  server/etcdserver/server.go
  server/etcdserver/v3_server.go
  tests/framework/e2e/etcd_process.go
  tests/integration/clientv3/kv_test.go
  tests/integration/clientv3/lease/lease_test.go
  tests/integration/clientv3/metrics_test.go
  tests/integration/clientv3/util.go
  tests/integration/v3_failover_test.go
Labels: area/testing, ok-to-test, size/M, approved

#18600 docs: update release.md with improvements from v3.4.34 release
  Documentation/contributor-guide/release.md
Labels: area/documentation, size/XS, approved

#18608 Fixed periodic compaction tests
  client/pkg/testutil/recorder.go
  server/etcdserver/api/v3compactor/periodic_test.go
Labels: ok-to-test, size/M, approved

#18619 ioutil: remaining errors.Is conversions
  pkg/ioutil/readcloser_test.go
Labels: ok-to-test, size/XS, approved

#18610 [2024-09-19] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#18625 command: Use errors.Is for error equality check in ep_command.go
  etcdctl/ctlv3/command/ep_command.go
Labels: area/etcdctl, ok-to-test, size/XS, approved

#18633 github: remove build job
  .github/workflows/build.yaml
Labels: github_actions, size/M, approved

#18612 update: `cobra.ExactValidArgs` method is deprecated
  etcdctl/ctlv3/command/completion_command.go
  etcdutl/etcdutl/completion_commmand.go
Labels: area/etcdctl, area/etcdutl, ok-to-test, size/XS, approved

#18605 Add function to create WAL files
  server/storage/wal/file_pipeline.go
  server/storage/wal/repair.go
  server/storage/wal/wal.go
  server/storage/wal/wal_test.go
Labels: ok-to-test, size/L, approved

#18614 client: remaining errors.Is conversions
  client/internal/v2/README.md
  client/pkg/fileutil/preallocate_darwin.go
  client/v3/client.go
  client/v3/retry_interceptor.go
Labels: area/testing, area/clientv3, area/etcdctl, area/contrib, ok-to-test, size/S, approved

#18636 [2024-09-25] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#18644 [main] Bump go toolchain to 1.23.1
  .devcontainer/devcontainer.json
  .go-version
  CHANGELOG/CHANGELOG-3.6.md
  api/go.mod
  client/internal/v2/go.mod
  client/pkg/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
  tools/rw-heatmaps/go.mod
  tools/testgrid-analysis/go.mod
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/M, approved
