Repository etcd-io/etcd, pull requests merged in 2024-06, with the labels that each got.

#18105 [3.5] scripts/release: shallow clone repository
  scripts/release.sh
Labels: area/tooling

#18106 [3.4] scripts/release: shallow clone repository
  scripts/release.sh
Labels: area/tooling

#18098 Use Go 1.20 error joining instead of multierr
  server/embed/config.go
  server/go.mod
Labels: ok-to-test

#15965 cli: Add etcdutl snapshot hashkv command
  etcdutl/README.md
  etcdutl/ctl.go
  etcdutl/etcdutl/hashkv_command.go
  etcdutl/etcdutl/printer.go
  etcdutl/etcdutl/printer_fields.go
  etcdutl/etcdutl/printer_json.go
  etcdutl/etcdutl/printer_simple.go
  etcdutl/etcdutl/printer_table.go
  server/storage/mvcc/hash.go
  server/storage/mvcc/hash_test.go
  server/storage/mvcc/kvstore.go
  server/storage/mvcc/kvstore_test.go
Labels: type/feature, area/etcdutl

#18120 [2024-06-03] Bump dependency updates identified by dependabot
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl

#18126 test: update CouldSetSnapshotCatchupEntries to use 3.5.14.
  tests/e2e/etcd_mix_versions_test.go
  tests/framework/e2e/cluster_test.go
  tests/framework/e2e/etcd_process.go
Labels: area/testing

#18128 Bump Go version to 1.22.4: CVE 2024-24790 fix
  .go-version
  CHANGELOG/CHANGELOG-3.4.md
  CHANGELOG/CHANGELOG-3.5.md
  api/go.mod
  client/internal/v2/go.mod
  client/pkg/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
  tools/rw-heatmaps/go.mod
  tools/testgrid-analysis/go.mod
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, ok-to-test

#18130 [3.4]Bump Go version to 1.21.11: CVE 2024-24790 fix
  .go-version
  functional/scripts/docker-local-agent.sh
  functional/scripts/docker-local-tester.sh
  go.mod
  tools/mod/go.mod
Labels: ok-to-test

#18015 Support multiple values for allowed client and peer TLS identities
  client/pkg/transport/listener.go
  server/embed/config.go
  server/embed/config_test.go
  server/etcdmain/config.go
  server/etcdmain/help.go
  tests/e2e/etcd_config_test.go
Labels: area/testing, area/tls, ok-to-test

#18135 tests/robustness: unlock Delete/LeaseRevoke ops
  tests/robustness/main_test.go
  tests/robustness/model/deterministic.go
  tests/robustness/model/replay.go
  tests/robustness/report/wal.go
  tests/robustness/traffic/etcd.go
  tests/robustness/traffic/kubernetes.go
  tests/robustness/validate/patch_history.go
Labels: area/testing, stage/merge-when-tests-green, area/robustness-testing

#18133 Ignore connection reset error when triggering a failpoint
  tests/robustness/failpoint/trigger.go
Labels: area/testing, area/robustness-testing

#17833 Implement compaction support in robustness test
  tests/robustness/client/client.go
  tests/robustness/failpoint/trigger.go
  tests/robustness/model/describe.go
  tests/robustness/model/deterministic.go
  tests/robustness/model/history.go
  tests/robustness/options/server_config_options.go
  tests/robustness/report/wal.go
  tests/robustness/scenarios.go
  tests/robustness/traffic/etcd.go
  tests/robustness/traffic/kubernetes.go
  tests/robustness/validate/patch_history.go
  tests/robustness/validate/validate_test.go
  tests/robustness/watch.go
Labels: area/testing, github_actions, area/robustness-testing

#18107 Improve e2e error reporting
  pkg/expect/expect.go
  tests/framework/e2e/etcd_process.go
  tests/robustness/failpoint/trigger.go
Labels: area/testing, area/robustness-testing

#18140 CHANGELOG: support multiple values for allowed client and peer TLS identities
  CHANGELOG/CHANGELOG-3.6.md
Labels: ok-to-test

#18161 [2024-06-10] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/rw-heatmaps/go.mod
  tools/rw-heatmaps/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L

#18143 Update codecov config to support commenting in PR
  .github/workflows/coverage.yaml
  codecov.yml
  scripts/test.sh
Labels: github_actions, size/S

#18166 Fix typo in mvcc comment
  server/storage/mvcc/key_index.go
Labels: ok-to-test, size/XS

#18167 tests/robustness: update documentation to reflect Prow migration
  tests/robustness/README.md
  tests/robustness/github_actions_artifact.png
  tests/robustness/prow_job.png
  tests/robustness/prow_job_artifacts_dir_page.png
  tests/robustness/prow_job_artifacts_page.png
Labels: area/documentation, area/testing, area/robustness-testing, size/XS

#18171 Fix govulncheck CI check on main branch
  .github/workflows/govuln.yaml
Labels: github_actions, size/XS

#18164 bugfix: register of walWriteSec
  server/storage/wal/metrics.go
Labels: backport/v3.5, ok-to-test, size/XS

#18170 Fix govulncheck CI check on release-3.5
  .github/workflows/govuln.yaml
  api/go.mod
  api/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
Labels: size/L

#18174 bugfix: register of walWriteSec
  server/wal/metrics.go
Labels: ok-to-test, size/XS

#18178 Update release-3.5 changelog
  CHANGELOG/CHANGELOG-3.5.md
Labels: size/XS

#18177 Remove robustness presubmits for `amd64` arch
  .github/workflows/robustness-nightly.yaml
  .github/workflows/robustness.yaml
Labels: github_actions, ok-to-test, size/M

#18179 robustness: Separate compaction and LazyFS test scenario for cluster size 1
  tests/robustness/scenarios.go
Labels: area/testing, area/robustness-testing, size/S

#15979 Improve snapshot status
  etcdutl/go.mod
  etcdutl/go.sum
  etcdutl/snapshot/v3_snapshot.go
  etcdutl/snapshot/v3_snapshot_test.go
  server/storage/mvcc/revision.go
  server/storage/mvcc/store_test.go
Labels: area/etcdutl, size/L

#18182 Add run-govulncheck Makefile target
  Makefile
  scripts/test.sh
Labels: size/S

#17680 Reproduce #17529 in robustness tests
  go.mod
  go.sum
  tests/framework/e2e/etcd_process.go
  tests/go.mod
  tests/go.sum
  tests/robustness/failpoint/failpoint.go
  tests/robustness/failpoint/gofail.go
  tests/robustness/makefile.mk
  tests/robustness/patches/beforeSendWatchResponse/build.patch
  tests/robustness/patches/beforeSendWatchResponse/watch.patch
  tests/robustness/scenarios.go
  tests/robustness/traffic/traffic.go
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/testing, area/tooling, area/robustness-testing, size/M

#18181 Avoid sending Compact request when LazyFS is enabled
  tests/robustness/failpoint/cluster.go
  tests/robustness/failpoint/failpoint.go
  tests/robustness/failpoint/gofail.go
  tests/robustness/failpoint/kill.go
  tests/robustness/failpoint/network.go
  tests/robustness/failpoint/trigger.go
  tests/robustness/main_test.go
  tests/robustness/report/failpoint.go
  tests/robustness/scenarios.go
  tests/robustness/traffic/etcd.go
  tests/robustness/traffic/kubernetes.go
  tests/robustness/traffic/traffic.go
Labels: area/testing, area/robustness-testing, size/L

#18186 fix(server): enforce listen-metrics-urls client TLS info when its scheme is https/unixs
  server/embed/etcd.go
  server/embed/etcd_test.go
  server/etcdmain/help.go
  tests/e2e/etcd_config_test.go
Labels: area/testing, ok-to-test, size/L

#18203 Update the error message when client certificate isn't provided for secure metrics url
  server/embed/etcd.go
Labels: size/XS

#18204 Use $(MAKE) instead of make
  tests/robustness/makefile.mk
Labels: area/testing, area/robustness-testing, size/S

#18062 featuregate: adds EtcdServer.FeatureEnabled interface.
  pkg/featuregate/feature_gate.go
  pkg/featuregate/feature_gate_test.go
  server/config/config.go
  server/etcdserver/server.go
Labels: ok-to-test, size/XXL

#18205 make: fix `verify-dep` target
  api/go.mod
  api/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  pkg/go.mod
  pkg/go.sum
  scripts/test.sh
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, backport/v3.5, size/M

#18206 [2024-06-19] Bump dependency update
  go.mod
  go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/testing, area/tooling, size/S

#18207 [3.5] Fix dependency inconsistency detection and add make verify-dep
  Makefile
  client/pkg/go.mod
  client/pkg/go.sum
  client/v2/go.mod
  client/v2/go.sum
  raft/go.mod
  raft/go.sum
  test.sh
Labels: size/S

#14066 embed: add `GRPCAdditionalServerOptions` config
  server/embed/config.go
  server/embed/etcd.go
  tests/framework/integration/cluster.go
  tests/integration/clientv3/kv_test.go
  tests/integration/v3_grpc_test.go
Labels: area/testing, size/M

#18160 [3.5] Support multiple values for allowed client and peer TLS identities
  client/pkg/transport/listener.go
  server/embed/config.go
  server/embed/config_test.go
  server/etcdmain/config.go
  server/etcdmain/help.go
  tests/e2e/etcd_config_test.go
Labels: ok-to-test, size/L

#18212 mvcc: fix typo
  server/storage/mvcc/store.go
Labels: ok-to-test, size/XS

#18218 add changelog for bugfix 18164 prometheus metric register of walWriteSec
  CHANGELOG/CHANGELOG-3.5.md
Labels: ok-to-test, size/XS

#18213 Disable robustness test detection of #18089 to allow detecting other issues
  tests/robustness/model/replay.go
  tests/robustness/validate/validate_test.go
  tests/robustness/validate/watch.go
Labels: area/testing, area/robustness-testing, size/L

#18220 Add verification on `client.Sync` to ensure the returned endpoints never empty
  client/v3/client.go
Labels: area/clientv3, size/XS

#18217 Bump shellcheck to latest v0.10.0 release
  scripts/test.sh
Labels: size/XS

#18227 Add tests for patching history to check output and return values
  tests/robustness/validate/patch_history_test.go
  tests/robustness/validate/validate_test.go
Labels: area/testing, area/robustness-testing, size/XL

#18210 Update release-3.6 changelog
  CHANGELOG/CHANGELOG-3.6.md
Labels: ok-to-test, size/XS

#18214 Separate persisted responses without knowing their revision to prevent duplicating state during linearization
  tests/robustness/model/describe.go
  tests/robustness/model/deterministic.go
  tests/robustness/model/history.go
  tests/robustness/model/non_deterministic.go
  tests/robustness/model/non_deterministic_test.go
  tests/robustness/validate/operations.go
  tests/robustness/validate/patch_history.go
  tests/robustness/validate/patch_history_test.go
Labels: area/testing, area/robustness-testing, size/L

#18228 [2024-06-24] Bump dependency updates identified by dependabot
  server/storage/mvcc/kvstore.go
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/tooling, size/M

#18219 [3.5] CHANGELOG: support multiple values for allowed client and peer …
  CHANGELOG/CHANGELOG-3.5.md
Labels: ok-to-test, size/XS

#18241 Add failpoint name to test name allowing us to track a per failpoint failures in testgrid
  tests/robustness/main_test.go
  tests/robustness/scenarios.go
Labels: area/testing, area/robustness-testing, size/M

#18201 tests/e2e: add e2e test to reproduce issue 18089
  tests/e2e/watch_test.go
Labels: area/testing, size/M

#18229 etcd 3.5: Install shellcheck if not exists.
  Makefile
  test.sh
Labels: ok-to-test, size/S

#18243 etcd-client: Clean up unnecessary nil Logger check
  client/pkg/transport/listener.go
Labels: type/cleanup, ok-to-test, size/L

#18246 changelog/3.4: set 3.4.33 release date
  CHANGELOG/CHANGELOG-3.4.md
Labels: size/XS

#18248 [3.4] Install shellcheck if it is not present
  Makefile
  scripts/install-marker.sh
  test
Labels: ok-to-test, size/M

#18249 github: remove govulncheck action
  .github/workflows/govuln.yaml
Labels: github_actions, size/S

#18253 [3.5] backport deflake TestV3AuthWithLeaseRevokeWithRootJWT
  tests/integration/cluster.go
Labels: ok-to-test, size/XS

#18254 [3.5] github/govuln: don't swallow govulncheck errors
  .github/workflows/govuln.yaml
Labels: size/XS
