Repository etcd-io/etcd, pull requests merged in 2024-11, with the labels that each got.

#18819 chore(e2e): extend TestNoErrorLogsDuringNormalOperations with different TLS configs
  tests/e2e/logging_test.go
Labels: area/testing, ok-to-test, size/M, approved

#18824 Update 3.4 changelog to cover the goroutine leakage issue
  CHANGELOG/CHANGELOG-3.4.md
Labels: size/XS, approved

#18814 fix: enable require-error rule from testifylint
  server/etcdserver/api/v2store/store_ttl_test.go
  tests/e2e/cluster_downgrade_test.go
  tests/e2e/corrupt_test.go
  tests/e2e/ctl_v3_grpc_test.go
  tests/e2e/ctl_v3_member_test.go
  tests/e2e/ctl_v3_snapshot_test.go
  tests/e2e/leader_snapshot_no_proxy_test.go
  tests/e2e/promote_experimental_flag_test.go
  tests/e2e/v2store_deprecation_test.go
  tests/e2e/v3_curl_auth_test.go
  tests/e2e/v3_curl_maxstream_test.go
  tests/framework/testutils/log_observer_test.go
  tests/integration/clientv3/lease/leasing_test.go
  tests/integration/clientv3/maintenance_test.go
  tests/integration/clientv3/naming/resolver_test.go
  tests/integration/clientv3/ordering_kv_test.go
  tests/integration/corrupt_test.go
  tests/integration/embed/embed_test.go
  tests/integration/v2store/store_tag_test.go
  tests/integration/v2store/store_test.go
  tests/integration/v3_auth_test.go
  tests/integration/v3_stm_test.go
  tests/integration/v3_tls_test.go
  tests/robustness/report/client_test.go
  tests/robustness/validate/validate_test.go
  tools/.golangci.yaml
Labels: area/testing, area/tooling, area/robustness-testing, ok-to-test, size/L, approved

#18818 fix: enable errorlint linter
  contrib/raftexample/kvstore.go
  contrib/raftexample/raft.go
  tests/e2e/ctl_v3_auth_test.go
  tests/e2e/utils.go
  tests/e2e/v3_curl_election_test.go
  tests/e2e/v3_curl_maxstream_test.go
  tests/framework/e2e/cluster.go
  tests/framework/e2e/etcdctl.go
  tests/framework/e2e/util.go
  tests/framework/integration/cluster.go
  tests/framework/integration/integration.go
  tests/integration/clientv3/kv_test.go
  tests/integration/clientv3/lease/lease_test.go
  tests/integration/clientv3/user_test.go
  tests/integration/clientv3/watch_test.go
  tests/integration/v2store/store_test.go
  tests/integration/v3_grpc_test.go
  tests/integration/v3_lease_test.go
  tests/robustness/failpoint/failpoint.go
  tests/robustness/failpoint/gofail.go
  tests/robustness/report/wal.go
  tests/robustness/validate/operations.go
  tools/.golangci.yaml
  tools/etcd-dump-db/backend.go
  tools/etcd-dump-logs/main.go
Labels: area/testing, area/tooling, area/contrib, area/robustness-testing, ok-to-test, size/L, approved

#18823 fix: use require instead of t.Fatal(err) in tests/common package
  tests/common/alarm_test.go
  tests/common/compact_test.go
  tests/common/kv_test.go
  tests/common/maintenance_auth_test.go
  tests/common/member_test.go
  tests/common/role_test.go
  tests/common/status_test.go
  tests/common/txn_test.go
  tests/common/user_test.go
  tests/common/watch_test.go
Labels: area/testing, ok-to-test, size/L, approved

#18827 fix: enable go-require rule from testifylint
  tests/common/auth_test.go
  tests/e2e/corrupt_test.go
  tests/e2e/ctl_v3_member_test.go
  tests/e2e/v3_lease_no_proxy_test.go
  tests/e2e/watch_test.go
  tests/e2e/zap_logging_test.go
  tests/framework/testutils/log_observer_test.go
  tools/.golangci.yaml
Labels: area/testing, area/tooling, ok-to-test, size/S, approved

#18812 release: properly change working dir if tmp location already exists
  scripts/release.sh
Labels: size/S, approved

#18822 fix(defrag): handle no space left error
  server/storage/backend/backend.go
  tests/e2e/defrag_no_space_test.go
Labels: area/testing, backport/v3.4, backport/v3.5, ok-to-test, size/M, approved

#18842 [3.5] fix(defrag): handle errors during defrag
  server/mvcc/backend/backend.go
  tests/e2e/defrag_no_space_test.go
Labels: ok-to-test, size/M, approved

#18840 [2024-11-04] Manual Dependency Bump
  api/etcdserverpb/gw/rpc.pb.gw.go
  api/go.mod
  api/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, stage/merge-when-tests-green, area/etcdutl, size/L, approved

#18843 [3.4] fix(defrag): handle errors during defrag
  mvcc/backend/backend.go
  tests/e2e/defrag_no_space_test.go
  tests/e2e/etcdctl.go
Labels: ok-to-test, size/L, approved

#18848 Bump go toolchain to 1.23.3
  .go-version
  api/go.mod
  client/internal/v2/go.mod
  client/pkg/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
  tools/rw-heatmaps/go.mod
  tools/testgrid-analysis/go.mod
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/S, approved

#18844 docs(CHANGELOG): update 3.4/3.5 changelogs with defrag fixes
  CHANGELOG/CHANGELOG-3.4.md
  CHANGELOG/CHANGELOG-3.5.md
Labels: needs-ok-to-test, size/XS, approved

#18849 [3.5] update go to 1.22.9
  .go-version
  api/go.mod
  client/pkg/go.mod
  client/v2/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  raft/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
Labels: size/S, approved

#18850 [3.4] update go to 1.22.9
  .go-version
  go.mod
  tools/mod/go.mod
Labels: size/XS

#18826 fix: enable usestdlibvars linter
  client/internal/v2/auth_role.go
  client/internal/v2/auth_user.go
  client/internal/v2/client_test.go
  client/internal/v2/keys_test.go
  client/internal/v2/members_test.go
  client/pkg/transport/timeout_transport_test.go
  server/embed/serve.go
  server/etcdserver/api/etcdhttp/peer_test.go
  server/etcdserver/api/rafthttp/http.go
  server/etcdserver/apply_v2.go
  server/lease/leasehttp/http.go
  tests/e2e/http_health_check_test.go
  tests/framework/e2e/etcd_process.go
  tools/.golangci.yaml
  tools/etcd-dump-logs/etcd-dump-log_test.go
  tools/etcd-dump-logs/main.go
Labels: area/testing, area/tooling, ok-to-test, size/M, approved

#18851 fix(defrag): close temp file in case of error
  server/storage/backend/backend.go
Labels: needs-ok-to-test, size/XS, approved

#18852 changelog: update go version for 3.4.35 and 3.5.17
  CHANGELOG/CHANGELOG-3.4.md
  CHANGELOG/CHANGELOG-3.5.md
Labels: size/XS, approved

#18857 build: fix govet shadow err
  server/storage/backend/backend.go
Labels: stage/merge-when-tests-green, ok-to-test, size/XS, approved

#18854 [3.5] fix(defrag): close temp file in case of error
  server/mvcc/backend/backend.go
Labels: ok-to-test, size/XS, approved

#18855 [3.4] fix(defrag): close temp file in case of error
  mvcc/backend/backend.go
Labels: ok-to-test, size/XS, approved

#18856 docs(CHANGELOG): update 3.4/3.5 changelog with defrag close fix
  CHANGELOG/CHANGELOG-3.4.md
  CHANGELOG/CHANGELOG-3.5.md
Labels: ok-to-test, size/XS, approved

#18754 fix: enable gofumpt instead of gofmt linter in contrib, etcdctl and etcdutl
  contrib/raftexample/raft.go
  etcdctl/ctlv3/command/check.go
  etcdctl/ctlv3/command/elect_command.go
  etcdctl/ctlv3/command/ep_command.go
  etcdctl/ctlv3/command/lease_command.go
  etcdctl/ctlv3/command/printer.go
  etcdctl/ctlv3/command/printer_fields.go
  etcdctl/ctlv3/command/printer_simple.go
  etcdctl/ctlv3/command/printer_table.go
  etcdctl/ctlv3/command/snapshot_command.go
  etcdctl/ctlv3/command/user_command.go
  etcdctl/ctlv3/ctl.go
  etcdutl/ctl.go
  etcdutl/etcdutl/defrag_command.go
  etcdutl/etcdutl/hashkv_command.go
  etcdutl/etcdutl/printer.go
  etcdutl/etcdutl/printer_simple.go
  etcdutl/etcdutl/snapshot_command.go
  etcdutl/snapshot/v3_snapshot.go
  etcdutl/snapshot/v3_snapshot_test.go
Labels: area/performance, area/testing, area/tooling, area/etcdctl, area/contrib, area/robustness-testing, area/etcdutl, ok-to-test, size/M, approved

#18858 fix: enable gofumpt instead of gofmt linter in tools
  tools/benchmark/cmd/lease.go
  tools/etcd-dump-db/backend.go
  tools/etcd-dump-db/main.go
  tools/etcd-dump-db/page.go
  tools/etcd-dump-logs/etcd-dump-log_test.go
  tools/etcd-dump-logs/main.go
  tools/local-tester/bridge/bridge.go
  tools/proto-annotations/cmd/etcd_version.go
Labels: area/performance, area/testing, area/tooling, ok-to-test, size/M, approved

#18875 Remove actuated badge from README.md
  README.md
Labels: size/XS, approved

#18877 [3.4] release: properly change working dir if tmp location already exists
  scripts/release.sh
Labels: size/S, approved

#18878 [3.4] release: use GitHub's gh to create GitHub release
  .github/workflows/release.yaml
  scripts/release.sh
  scripts/release_notes.tpl.txt
Labels: size/L, approved

#18863 [3.5] release: properly change working dir if tmp location already exists
  scripts/release.sh
Labels: ok-to-test, size/S, approved

#18884 CHANGELOG: Add release date of etcd v3.4.35
  CHANGELOG/CHANGELOG-3.4.md
Labels: size/XS, approved

#18099 tests: add robustness test for issue 17780
  tests/robustness/failpoint/gofail.go
  tests/robustness/makefile.mk
  tests/robustness/patches/compactBeforeSetFinishedCompact/kvstore_compaction.patch
  tests/robustness/scenarios/scenarios.go
Labels: area/testing, area/robustness-testing, size/L, approved

#18888 [3.4] Backport updating release script to use ssh
  scripts/release.sh
Labels: size/XS, approved

#18887 docs(release): update GitHub release related instructions
  Documentation/contributor-guide/release.md
Labels: area/documentation, size/XS, approved

#18816 add tls min/max version to grpc proxy
  server/etcdmain/grpc_proxy.go
  tests/e2e/etcd_grpcproxy_test.go
Labels: area/testing, gRPC-proxy, backport/v3.5, size/L, approved

#18899 [3.5] Bump golang-jwt/jwt to 4.5.1 to address GO-2024-3250
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Labels: size/M, approved

#18900 Add robustness track record section to make tracking easier
  tests/robustness/README.md
Labels: area/testing, area/robustness-testing, size/S, approved

#18891 Fix displaying etcd logo in README on a dark theme
  README.md
Labels: ok-to-test, size/XS, approved

#18903 Robustness refactor patch operations
  tests/robustness/validate/patch_history.go
Labels: area/testing, area/robustness-testing, size/M, approved

#18901 changelog: add GO-2024-3250 remediation entry
  CHANGELOG/CHANGELOG-3.5.md
Labels: size/XS, approved

#18904 Robustness duplicated puts 2
  tests/robustness/validate/operations_test.go
  tests/robustness/validate/patch_history.go
  tests/robustness/validate/patch_history_test.go
Labels: area/testing, area/robustness-testing, size/L, approved

#18829 [3.5] add tls min/max version to grpc proxy
  server/etcdmain/grpc_proxy.go
  tests/e2e/etcd_grpcproxy_test.go
Labels: size/L, approved

#18908 Multiply return time by 100 in tests to detect off by one differences
  tests/robustness/validate/patch_history_test.go
Labels: area/testing, area/robustness-testing, size/L, approved

#18930 Add jitter to failpoint injection to cover periodily executed compaction
  tests/robustness/main_test.go
  tests/robustness/traffic/traffic.go
Labels: area/testing, area/robustness-testing, size/S, approved

#18932 [2024-11-18] Manual Dependency Bump
  api/go.mod
  api/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  scripts/etcd_version_annotations.txt
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#18939 dependency: bump go.etcd.io/raft/v3 v3.6.0-beta.0
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/testing, area/tooling, area/etcdutl, size/M, approved

#18905 Robustness duplicated puts 3
  tests/robustness/validate/patch_history.go
  tests/robustness/validate/patch_history_test.go
  tests/robustness/validate/validate.go
Labels: area/testing, area/robustness-testing, size/L, approved

#18928 Reduce QPS requirement to 100
  tests/robustness/traffic/traffic.go
Labels: area/testing, area/robustness-testing, size/XS, approved

#18893 fix runtime error: comparing uncomparable type
  client/v3/lease.go
  tests/integration/clientv3/lease/lease_test.go
Labels: area/testing, area/clientv3, backport/v3.4, backport/v3.5, ok-to-test, size/M, approved

#18937 [3.5] fix runtime error: comparing uncomparable type
  client/v3/lease.go
  tests/integration/clientv3/lease/lease_test.go
Labels: ok-to-test, size/M, approved

#18936 [3.4] fix runtime error: comparing uncomparable type
  clientv3/integration/lease_test.go
  clientv3/lease.go
Labels: ok-to-test, size/M, approved

#18951 CHANGELOG: Fix runtime panic that occurs when KeepAlive is called with a Context implemented by an uncomparable type #18893
  CHANGELOG/CHANGELOG-3.4.md
  CHANGELOG/CHANGELOG-3.5.md
Labels: stage/merge-when-tests-green, ok-to-test, size/XS, approved

#18962 Fix benchmark indexing
  tools/benchmark/cmd/watch_latency.go
Labels: area/performance, area/tooling, size/XS, approved

#18825 Run a separate in memory snapshot to reduce number of entries stored in raft memory storage
  server/etcdserver/api/membership/cluster.go
  server/etcdserver/server.go
  server/etcdserver/server_test.go
  tests/integration/v3_watch_restore_test.go
Labels: area/testing, size/L, approved

#18961 [2024-11-25] Manual Dependency Bump
  api/etcdserverpb/gw/rpc.pb.gw.go
  api/go.mod
  api/go.sum
  client/internal/v2/go.mod
  client/internal/v2/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/etcdserver/api/v3election/v3electionpb/gw/v3election.pb.gw.go
  server/etcdserver/api/v3lock/v3lockpb/gw/v3lock.pb.gw.go
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/XXL, approved

#18956 fix: enable gofumpt instead of gofmt linter globally
  pkg/expect/expect.go
  pkg/featuregate/feature_gate_test.go
  pkg/netutil/netutil_test.go
  pkg/netutil/routes_linux.go
  pkg/osutil/osutil.go
  pkg/traceutil/trace.go
  tools/.golangci.yaml
Labels: area/tooling, ok-to-test, size/M, approved

#18964 Add a threshold for codecov failure
  codecov.yml
Labels: size/XS, approved
