Repository etcd-io/etcd, pull requests merged in 2024-10, with the labels that each got.

#18666 Bump go version to 1.23.2
  .go-version
  api/go.mod
  client/internal/v2/go.mod
  client/pkg/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
  tools/rw-heatmaps/go.mod
  tools/testgrid-analysis/go.mod
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, ok-to-test, size/S, approved

#18664 fix(tests/e2e): ensure spawned cmds are closed
  tests/e2e/v2store_deprecation_test.go
Labels: area/testing, ok-to-test, size/XS, approved

#18669 [3.5] Bump go version to 1.22.8
  .go-version
  api/go.mod
  client/pkg/go.mod
  client/v2/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  raft/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
Labels: ok-to-test, size/S

#18670 [3.4] Bump go version to 1.22.8
  .go-version
  go.mod
  tools/mod/go.mod
Labels: ok-to-test, size/XS

#18651 docs(contributing): document how to install stress tool
  CONTRIBUTING.md
Labels: ok-to-test, size/XS, approved

#18663 fix(tests/common): increase token ttl to fix flaky TestAuthLeaseTimeToLive test
  tests/common/auth_test.go
Labels: area/testing, ok-to-test, size/XS, approved

#18668 fix(v3compactor): flaky TestPeriodicSkipRevNotChange test by increasing timeout
  server/etcdserver/api/v3compactor/periodic_test.go
Labels: ok-to-test, size/XS, approved

#18645 api: address revive unexported-return issues
  api/etcdserverpb/raft_internal_stringer.go
Labels: size/S, approved

#18606 etcdserver: fix panic when checking IsLearner of removed member
  server/etcdserver/api/membership/cluster.go
  server/etcdserver/server.go
  tests/integration/cluster_test.go
  tests/robustness/makefile.mk
Labels: area/testing, area/robustness-testing, ok-to-test, size/M, approved

#18673 [2024-10-03] Bump dependency updates identified by dependabot
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/testing, area/tooling, area/etcdutl, size/M, approved

#18675 Remove context from top level apply
  server/etcdserver/apply/apply.go
  server/etcdserver/apply/apply_auth.go
  server/etcdserver/apply/apply_auth_test.go
  server/etcdserver/apply/uber_applier.go
Labels: stage/merge-when-tests-green, size/S, approved

#18676 Remove context from dispatch
  server/etcdserver/apply/apply.go
  server/etcdserver/apply/apply_auth_test.go
  server/etcdserver/apply/uber_applier.go
Labels: size/XS, approved

#18672 github/workflows: use ECR mirror for Trivy's DB
  .github/workflows/release.yaml
Labels: github_actions, size/XS, approved

#18686 fix: enable bool-compare rule from testifylint
  client/pkg/testutil/assert.go
  client/v3/client_test.go
  server/embed/config_test.go
  server/etcdserver/api/membership/membership_test.go
  server/etcdserver/api/v2store/store_ttl_test.go
  server/storage/mvcc/store_test.go
  tests/e2e/corrupt_test.go
  tests/e2e/ctl_v3_member_no_proxy_test.go
  tests/integration/v2store/store_test.go
  tests/integration/v3_auth_test.go
  tools/.golangci.yaml
Labels: area/testing, area/clientv3, area/tooling, ok-to-test, size/L, approved

#18706 [2024-10-08] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/rw-heatmaps/go.mod
  tools/rw-heatmaps/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#18710 Update release steps on how to share quay.io password
  Documentation/contributor-guide/release.md
Labels: area/documentation, size/XS, approved

#18705 fix: use require.NoError instead of t.Fatal(err) in client package
  client/internal/v2/client_test.go
  client/internal/v2/go.mod
  client/internal/v2/members_test.go
  client/pkg/fileutil/fileutil_test.go
  client/pkg/fileutil/lock_test.go
  client/pkg/fileutil/preallocate_test.go
  client/pkg/fileutil/purge_test.go
  client/pkg/fileutil/read_dir_test.go
  client/pkg/transport/keepalive_listener_test.go
  client/pkg/transport/listener_test.go
  client/pkg/transport/timeout_dialer_test.go
  client/pkg/transport/timeout_listener_test.go
  client/pkg/transport/timeout_transport_test.go
  client/pkg/transport/tls_test.go
  client/pkg/transport/transport_test.go
  client/pkg/types/id_test.go
  client/pkg/types/urlsmap_test.go
  client/v3/client_test.go
  client/v3/config_test.go
  client/v3/yaml/config_test.go
Labels: area/testing, area/clientv3, ok-to-test, size/XL, approved

#18712 fix: enable empty and len rules from testifylint
  client/pkg/logutil/zap_test.go
  server/etcdserver/api/v2store/store_ttl_test.go
  server/storage/backend/tx_buffer_test.go
  server/storage/mvcc/key_index_test.go
  tests/common/auth_util.go
  tests/common/endpoint_test.go
  tests/e2e/ctl_v3_auth_cluster_test.go
  tests/e2e/ctl_v3_member_test.go
  tests/e2e/v3_curl_auth_test.go
  tests/e2e/v3_curl_cluster_test.go
  tests/e2e/v3_curl_kv_test.go
  tests/e2e/v3_lease_no_proxy_test.go
  tests/framework/testutils/log_observer_test.go
  tests/integration/clientv3/experimental/recipes/v3_double_barrier_test.go
  tests/integration/clientv3/lease/leasing_test.go
  tests/integration/clientv3/maintenance_test.go
  tests/integration/clientv3/naming/resolver_test.go
  tools/.golangci.yaml
Labels: area/testing, area/tooling, ok-to-test, size/M, approved

#18714 github/workflows: remove ARM integration jobs
  .github/workflows/tests-template.yaml
  .github/workflows/tests.yaml
Labels: github_actions, size/M, approved

#18689 fix: enable nil-compare rule from testifylint
  pkg/ioutil/pagewriter_test.go
  server/etcdserver/api/v2store/store_ttl_test.go
  tests/e2e/v3_curl_auth_test.go
  tests/integration/clientv3/lease/leasing_test.go
  tests/integration/v2store/store_tag_test.go
  tests/integration/v2store/store_test.go
  tests/integration/v3_auth_test.go
  tests/integration/v3_stm_test.go
  tools/.golangci.yaml
Labels: area/testing, area/tooling, ok-to-test, size/L, approved

#18715 fix: enable compares and negative-positive rules from testifylint
  tests/e2e/corrupt_test.go
  tests/e2e/ctl_v3_member_test.go
  tests/e2e/ctl_v3_snapshot_test.go
  tests/e2e/hashkv_test.go
  tests/e2e/reproduce_17780_test.go
  tests/e2e/v3_curl_cluster_test.go
  tests/integration/v3_auth_test.go
  tools/.golangci.yaml
Labels: area/testing, area/tooling, ok-to-test, size/S, approved

#18721 fix: enable errorlint in module `go.etcd.io/etcd/client/v2`
  client/internal/v2/client.go
  client/internal/v2/client_test.go
  client/internal/v2/keys.go
  client/internal/v2/keys_test.go
  client/internal/v2/util.go
Labels: ok-to-test, size/M, approved

#18684 Robustness dir cleanup
  tests/robustness/README.md
  tests/robustness/client/watch.go
  tests/robustness/main_test.go
  tests/robustness/readme-images/artifact_archive.png
  tests/robustness/readme-images/issue14370.png
  tests/robustness/readme-images/prow_job.png
  tests/robustness/readme-images/prow_job_artifacts_dir_page.png
  tests/robustness/readme-images/prow_job_artifacts_page.png
  tests/robustness/scenarios/scenarios.go
Labels: area/testing, area/robustness-testing, size/L, approved

#18743 CHANGELOG: add go 1.22.8 entry for 3.4 and 3.5
  CHANGELOG/CHANGELOG-3.4.md
  CHANGELOG/CHANGELOG-3.5.md
Labels: size/XS, approved

#18740 fix: enable error-is-as rule from testifylint
  pkg/expect/expect.go
  pkg/expect/expect_test.go
  tests/framework/testutils/log_observer_test.go
  tools/.golangci.yaml
Labels: area/testing, area/tooling, needs-ok-to-test, size/XS, approved

#18716 fix: enable error-nil rule from testifylint
  server/etcdserver/api/v2store/store_ttl_test.go
  server/etcdserver/apply/uber_applier_test.go
  tests/e2e/ctl_v3_move_leader_test.go
  tests/e2e/v3_curl_auth_test.go
  tests/integration/clientv3/lease/leasing_test.go
  tests/integration/v2store/store_tag_test.go
  tests/integration/v2store/store_test.go
  tests/integration/v3_auth_test.go
  tests/integration/v3_stm_test.go
  tools/.golangci.yaml
Labels: area/testing, area/tooling, ok-to-test, size/L, approved

#18718 feat(etcdctl): add --max-send-bytes and --max-recv-bytes options
  client/v3/config.go
  etcdctl/ctlv3/command/global.go
  etcdctl/ctlv3/command/make_mirror_command.go
  etcdctl/ctlv3/ctl.go
Labels: area/clientv3, area/etcdctl, ok-to-test, size/M, approved

#18720 fix: enable expected-actual rule from testifylint
  client/v3/credentials/credentials_test.go
  pkg/flags/uint32_test.go
  server/etcdserver/api/v2store/node_extern_test.go
  server/etcdserver/api/v2store/store_ttl_test.go
  server/etcdserver/server_test.go
  tests/e2e/graceful_shutdown_test.go
  tests/e2e/hashkv_test.go
  tests/e2e/reproduce_17780_test.go
  tests/integration/v2store/store_tag_test.go
  tests/integration/v2store/store_test.go
  tools/.golangci.yaml
Labels: area/testing, area/clientv3, area/tooling, stage/merge-when-tests-green, ok-to-test, size/XL, approved

#18750 embed: fix typo client-listen-x to listen-client-x
  server/embed/etcd.go
Labels: ok-to-test, size/XS, approved

#18747 Update changelog-3.6 to cover the new flags for etcdctl
  CHANGELOG/CHANGELOG-3.6.md
Labels: size/XS, approved

#18752 fix: use require.NoError instead of t.Fatal(err) in contrib and tools packages
  contrib/raftexample/kvstore_test.go
  contrib/raftexample/raftexample_test.go
  tools/etcd-dump-logs/etcd-dump-log_test.go
Labels: area/tooling, area/contrib, ok-to-test, size/M, approved

#18755 [2024-10-20] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  client/internal/v2/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#18722 fix: enable errorlint in api, client and pkg
  api/v3rpc/rpctypes/error_test.go
  client/pkg/fileutil/lock_linux.go
  client/pkg/fileutil/preallocate_unix.go
  client/pkg/srv/srv.go
  client/pkg/transport/timeout_dialer_test.go
  client/pkg/transport/timeout_listener_test.go
  client/v3/client.go
  client/v3/client_test.go
  client/v3/experimental/recipes/key.go
  client/v3/lease.go
  client/v3/leasing/kv.go
  client/v3/maintenance.go
  client/v3/mock/mockserver/mockserver.go
  client/v3/retry.go
  client/v3/retry_interceptor.go
  client/v3/snapshot/v3_snapshot.go
  client/v3/watch.go
  pkg/featuregate/feature_gate.go
  pkg/flags/flag.go
  pkg/grpctesting/stub_server.go
  pkg/ioutil/readcloser_test.go
  pkg/netutil/netutil.go
Labels: area/clientv3, ok-to-test, size/L, approved

#18741 fix: enable formatter rule from testifylint
  client/internal/v2/client_test.go
  client/pkg/fileutil/fileutil_test.go
  client/pkg/testutil/assert.go
  client/pkg/tlsutil/versions_test.go
  client/pkg/transport/listener_test.go
  client/v3/client_test.go
  server/embed/config_test.go
  server/etcdserver/api/membership/storev2_test.go
  server/etcdserver/api/v2store/stats_test.go
  server/etcdserver/api/v2store/store_ttl_test.go
  server/etcdserver/apply/apply_auth_test.go
  server/etcdserver/cindex/cindex_test.go
  server/etcdserver/txn/metrics_test.go
  server/etcdserver/txn/txn_test.go
  server/storage/backend/hooks_test.go
  server/storage/mvcc/hash_test.go
  server/storage/mvcc/index_test.go
  server/storage/mvcc/key_index_test.go
  server/storage/mvcc/testutil/hash.go
  server/storage/wal/repair_test.go
  server/storage/wal/wal_test.go
  tests/common/auth_test.go
  tests/common/endpoint_test.go
  tests/common/member_test.go
  tests/e2e/corrupt_test.go
  tests/e2e/ctl_v3_grpc_test.go
  tests/e2e/ctl_v3_kv_test.go
  tests/e2e/ctl_v3_member_no_proxy_test.go
  tests/e2e/ctl_v3_member_test.go
  tests/e2e/ctl_v3_snapshot_test.go
  tests/e2e/etcd_config_test.go
  tests/e2e/etcd_mix_versions_test.go
  tests/e2e/promote_experimental_flag_test.go
  tests/e2e/reproduce_17780_test.go
  tests/e2e/runtime_reconfiguration_test.go
  tests/e2e/watch_test.go
  tests/integration/clientv3/naming/resolver_test.go
  tests/integration/corrupt_test.go
  tests/integration/metrics_test.go
  tests/integration/v3_tls_test.go
  tests/integration/v3_watch_test.go
  tests/robustness/model/non_deterministic_test.go
  tools/.golangci.yaml
Labels: area/testing, area/clientv3, area/tooling, github_actions, area/robustness-testing, ok-to-test, size/L, approved

#18766 Add comment to clarify non-f-functions on golang standard lib
  tools/.golangci.yaml
Labels: area/tooling, size/XS, approved

#18746 fix: enable thelper linter in client directory
  client/internal/v2/keys_bench_test.go
  client/pkg/fileutil/preallocate_test.go
  client/pkg/fileutil/read_dir_test.go
  client/pkg/testutil/before.go
  client/pkg/testutil/testutil.go
  client/pkg/tlsutil/cipher_suites_test.go
  client/pkg/transport/listener_test.go
  client/pkg/transport/timeout_dialer_test.go
  client/pkg/types/set_test.go
  client/v3/client_test.go
Labels: area/testing, area/clientv3, area/tooling, ok-to-test, size/M, approved

#18708 Improve documentation of robustness test adding key concepts used in the test
  tests/robustness/README.md
Labels: area/testing, area/robustness-testing, size/M, approved

#18770 Remove brackets from failpoint name
  tests/robustness/failpoint/gofail.go
Labels: area/testing, area/robustness-testing, size/XS, approved

#18634 tests: remaining errors.Is conversions
  tests/e2e/ctl_v3_member_test.go
  tests/e2e/ctl_v3_snapshot_test.go
  tests/integration/clientv3/concurrency/example_mutex_test.go
  tests/integration/clientv3/connectivity/black_hole_test.go
  tests/integration/clientv3/connectivity/network_partition_test.go
  tests/integration/clientv3/connectivity/server_shutdown_test.go
  tests/integration/clientv3/experimental/recipes/v3_double_barrier_test.go
  tests/integration/clientv3/experimental/recipes/v3_lock_test.go
  tests/integration/clientv3/lease/leasing_test.go
  tests/integration/clientv3/maintenance_test.go
  tests/integration/clientv3/ordering_kv_test.go
  tests/integration/clientv3/ordering_util_test.go
  tests/integration/clientv3/txn_test.go
  tests/integration/clientv3/user_test.go
  tests/integration/clientv3/watch_test.go
  tests/integration/v3_grpc_test.go
  tests/integration/v3_lease_test.go
  tests/integration/v3_tls_test.go
Labels: area/testing, needs-ok-to-test, size/L, approved

#18774 fix: enable tenv linter
  pkg/flags/flag_test.go
  tools/.golangci.yaml
Labels: area/tooling, needs-ok-to-test, size/S, approved

#18776 fix: enable float-compare rule from testifylint
  client/v3/client_test.go
  tools/.golangci.yaml
Labels: area/clientv3, area/tooling, needs-ok-to-test, size/XS, approved

#18739 etcdserver: terminate recvLoop on serverWatchStream.close()
  server/etcdserver/api/v3rpc/watch.go
Labels: backport/v3.4, backport/v3.5, ok-to-test, size/XS, approved

#18753 fix: use require.NoError instead of t.Fatal(err) in tests package (part 1)
  tests/common/alarm_test.go
  tests/common/auth_test.go
  tests/common/member_test.go
  tests/e2e/cluster_downgrade_test.go
  tests/e2e/corrupt_test.go
  tests/e2e/ctl_v3_auth_test.go
  tests/e2e/ctl_v3_snapshot_test.go
  tests/e2e/etcd_config_test.go
  tests/integration/clientv3/lease/lease_test.go
  tests/integration/clientv3/lease/leasing_test.go
  tests/integration/clientv3/maintenance_test.go
  tests/integration/clientv3/naming/endpoints_test.go
  tests/integration/clientv3/snapshot/v3_snapshot_test.go
  tests/integration/clientv3/watch_test.go
  tests/integration/cluster_test.go
  tests/integration/embed/embed_test.go
  tests/integration/metrics_test.go
  tests/integration/proxy/grpcproxy/cluster_test.go
  tests/integration/proxy/grpcproxy/kv_test.go
  tests/integration/snapshot/member_test.go
  tests/integration/snapshot/v3_snapshot_test.go
  tests/integration/v3_auth_test.go
  tests/integration/v3_grpc_test.go
  tests/integration/v3_lease_test.go
  tests/integration/v3_watch_test.go
  tests/integration/v3election_grpc_test.go
  tests/robustness/main_test.go
  tests/robustness/model/deterministic_test.go
  tests/robustness/model/non_deterministic_test.go
  tests/robustness/validate/validate_test.go
Labels: area/testing, area/robustness-testing, needs-ok-to-test, size/XL, approved

#18771 Ensure compaction is executed at even intervals to avoid overload
  tests/robustness/random/random.go
  tests/robustness/traffic/etcd.go
  tests/robustness/traffic/kubernetes.go
  tests/robustness/traffic/traffic.go
Labels: area/testing, area/robustness-testing, size/L, approved

#18781 Fix e2e/ctl_v3_auth_test.go:123:5: declaration of err shadows declara…
  tests/e2e/ctl_v3_auth_test.go
Labels: area/testing, size/XS, approved

#18649 release: use GitHub's gh to create GitHub release
  .github/workflows/release.yaml
  Documentation/contributor-guide/release.md
  scripts/release.sh
  scripts/release_notes.tpl.txt
Labels: area/documentation, github_actions, size/L, approved

#18748 fix: enable gofumpt instead of gofmt linter in client
  client/internal/v2/auth_user.go
  client/internal/v2/client_test.go
  client/internal/v2/curl.go
  client/internal/v2/keys.go
  client/pkg/fileutil/dir_unix.go
  client/pkg/fileutil/fileutil.go
  client/pkg/fileutil/fileutil_test.go
  client/pkg/fileutil/lock.go
  client/pkg/testutil/leak.go
  client/pkg/transport/limit_listen.go
  client/pkg/transport/listener.go
  client/pkg/transport/listener_test.go
  client/v3/client.go
  client/v3/client_test.go
  client/v3/compare.go
  client/v3/concurrency/mutex.go
  client/v3/kv.go
  client/v3/mirror/syncer.go
  client/v3/retry.go
  client/v3/retry_interceptor.go
  client/v3/sort.go
  client/v3/watch.go
Labels: area/testing, area/clientv3, area/tooling, ok-to-test, size/L, approved

#18785 [serverWatchStream] terminate recvLoop on sws.close()
  etcdserver/api/v3rpc/watch.go
Labels: ok-to-test, size/XS, approved

#18786 [2024-10-20] Bump dependency updates identified by dependabot #18755
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/M, approved

#18802 Remove defunct release-3.5 arm64 github actions workflows
  .github/workflows/tests.yaml
Labels: size/S, approved

#18784 [3.5] [serverWatchStream] terminate recvLoop on sws.close()
  server/etcdserver/api/v3rpc/watch.go
Labels: ok-to-test, size/XS, approved

#18799 [3.5] manual: Fix risk of a partial write txn being applied
  server/etcdserver/apply.go
  server/etcdserver/apply_test.go
Labels: ok-to-test, size/M, approved

#18804 Update 3.5 changelog to cover two major fixes
  CHANGELOG/CHANGELOG-3.5.md
Labels: size/XS, approved

#18806 chore(e2e): extend logging test to 3 node cluster
  tests/e2e/logging_test.go
Labels: area/testing, stage/merge-when-tests-green, ok-to-test, size/M, approved

#18808 Refactor Etcdserver.snapshot to extract compaction into a separate method
  server/etcdserver/server.go
Labels: size/XS, approved

#18780 fix: enable errorlint in server directory
  server/config/config.go
  server/embed/config.go
  server/embed/config_logging.go
  server/embed/config_logging_journal_unix.go
  server/embed/etcd.go
  server/etcdmain/config.go
  server/etcdmain/etcd.go
  server/etcdserver/api/etcdhttp/peer.go
  server/etcdserver/api/etcdhttp/utils.go
  server/etcdserver/api/membership/cluster.go
  server/etcdserver/api/membership/errors.go
  server/etcdserver/api/membership/storev2.go
  server/etcdserver/api/rafthttp/http.go
  server/etcdserver/api/rafthttp/stream.go
  server/etcdserver/api/snap/snapshotter.go
  server/etcdserver/api/v2discovery/discovery.go
  server/etcdserver/api/v2store/store.go
  server/etcdserver/api/v2store/store_ttl_test.go
  server/etcdserver/api/v3rpc/watch.go
  server/etcdserver/bootstrap.go
  server/etcdserver/corrupt.go
  server/etcdserver/server.go
  server/lease/leasehttp/http.go
  server/proxy/grpcproxy/kv.go
  server/storage/backend.go
  server/storage/mvcc/kvstore_test.go
  server/storage/schema/membership.go
  server/storage/schema/schema.go
  server/storage/wal/version.go
  server/storage/wal/wal.go
Labels: ok-to-test, size/L, approved

#18782 fix: use require instead of t.Fatal(err) in tests/robustness package
  tests/robustness/client/watch.go
  tests/robustness/failpoint/cluster.go
  tests/robustness/report/client.go
  tests/robustness/report/report.go
  tests/robustness/scenarios/scenarios.go
  tests/robustness/traffic/traffic.go
  tests/robustness/validate/validate.go
Labels: area/testing, area/robustness-testing, ok-to-test, size/M, approved

#18807 [3.5] chore(e2e): backport TestNoErrorLogsDuringNormalOperations test
  tests/e2e/logging_test.go
Labels: ok-to-test, size/M, approved

#18809 [3.4] chore(e2e): backport TestNoErrorLogsDuringNormalOperations test
  pkg/expect/expect.go
  tests/e2e/etcd_process.go
  tests/e2e/logging_test.go
Labels: ok-to-test, size/M, approved

#18813 fix: enable errorlint in etcdctl and etcdutl directories
  etcdctl/ctlv3/command/auth_command.go
  etcdctl/ctlv3/command/ep_command.go
  etcdctl/ctlv3/command/lease_command.go
  etcdctl/ctlv3/command/lock_command.go
  etcdctl/ctlv3/command/member_command.go
  etcdctl/ctlv3/command/put_command.go
  etcdctl/ctlv3/command/txn_command.go
  etcdctl/ctlv3/command/user_command.go
  etcdctl/ctlv3/command/watch_command.go
  etcdctl/ctlv3/command/watch_command_test.go
  etcdutl/etcdutl/defrag_command.go
  etcdutl/etcdutl/migrate_command.go
Labels: area/etcdctl, area/etcdutl, needs-ok-to-test, size/M, approved

#18817 [2024-10-31] Bump dependency updates identified by dependabot
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/M, approved
