Repository etcd-io/etcd, pull requests merged in 2024-05, with the labels that each got.

#17922 Chore: Use chain interceptors from grpc package
  server/etcdmain/grpc_proxy.go
  server/etcdserver/api/v3rpc/grpc.go
Labels: ok-to-test

#17926 Update jmhbnz project role in owners
  OWNERS
Labels: area/community, type/cleanup

#17930 Fix typo bootstrapedCluster
  server/etcdserver/bootstrap.go
Labels: ok-to-test

#17932 Manually bump dependencies
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Labels: ok-to-test

#17943 Bump bbolt to 1.3.10 for 3.5
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Labels: stage/merge-when-tests-green

#17948 Update changelog with bbolt bumps
  CHANGELOG/CHANGELOG-3.4.md
  CHANGELOG/CHANGELOG-3.5.md
Labels: stage/merge-when-tests-green

#17947 dependency: bump go.etcd.io/bbolt from v1.4.0-alpha.0 to v1.4.0-alpha.1
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Labels: ok-to-test

#17861 config: support AllowedCN and AllowedHostname through config file
  etcd.conf.yml.sample
  server/embed/config.go
  server/embed/config_test.go
Labels: stage/merge-when-tests-green, ok-to-test

#17963 pkg/report: make use of builtin min/max function
  pkg/report/timeseries.go
Labels: ok-to-test

#17967 Update the robustness README and fix the #14370 reproduction case
  tests/robustness/README.md
  tests/robustness/failpoint/network.go
  tests/robustness/scenarios.go
Labels: area/robustness-testing

#17971 tools/benchmark/cmd: eliminate custom max function
  tools/benchmark/cmd/put.go
Labels: type/cleanup, ok-to-test

#17973 [2024-05-06] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  scripts/etcd_version_annotations.txt
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: ok-to-test

#17975 dependency: upgrade go to 1.22.3
  .go-version
  api/go.mod
  client/internal/v2/go.mod
  client/pkg/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
  tools/rw-heatmaps/go.mod
  tools/testgrid-analysis/go.mod
Labels: ok-to-test

#17980 [3.5] dependency : update the go v1.21.10
  .go-version
Labels: ok-to-test

#17981 [3.4] dependency: update golang to 1.21.10
  .go-version
  functional/scripts/docker-local-agent.sh
  functional/scripts/docker-local-tester.sh
Labels: ok-to-test

#17984 github workflow: fix all apt-install error return code
  .github/workflows/robustness-template.yaml
Labels: ok-to-test

#17979 Add nested owners files to automate labeling pull requests
  .github/workflows/OWNERS
  Documentation/OWNERS
  client/v3/OWNERS
  contrib/OWNERS
  contrib/mixin/OWNERS
  etcdctl/OWNERS
  etcdutl/OWNERS
  security/OWNERS
  tests/OWNERS
  tests/robustness/OWNERS
  tools/OWNERS
  tools/benchmark/OWNERS
  tools/etcd-dump-db/OWNERS
  tools/etcd-dump-logs/OWNERS
  tools/etcd-dump-metrics/OWNERS
  tools/local-tester/OWNERS
  tools/rw-heatmaps/OWNERS
  tools/testgrid-analysis/OWNERS
Labels: area/community, area/tooling

#17989 Prevent picking a failpoint that waiting till snapshot that doesn't support lower snapshot catchup entries but allow reproducing issue #15271
  tests/robustness/failpoint/network.go
  tests/robustness/main_test.go
  tests/robustness/scenarios.go
Labels: area/testing, area/robustness-testing

#18005 dependency(gh_actions): Manually bump codeql action from 3.25.3 to 3.25.5
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yaml
  .github/workflows/scorecards.yml
Labels: github_actions

#18008 add error constants in validate pkg
  tests/robustness/validate/operations.go
  tests/robustness/validate/operations_test.go
Labels: area/testing, area/robustness-testing, ok-to-test

#18016 [release-3.4] Setup a way to consistently manage go versions across scripts and go.mods
  .github/workflows/static-analysis.yaml
  Makefile
  go.mod
  scripts/sync_go_toolchain_directive.sh
  scripts/verify_go_versions.sh
  tools/mod/go.mod
Labels: stage/merge-when-tests-green

#18019 changelog: add 3.4 and 3.5 note about go 1.21.10
  CHANGELOG/CHANGELOG-3.4.md
  CHANGELOG/CHANGELOG-3.5.md
Labels: ok-to-test

#18024 [2024-05-13] Bump dependency updates identified by dependabot
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, ok-to-test

#18026 [2024-05-13] Bump dependency updates identified by dependabot
  etcdctl/go.mod
  etcdctl/go.sum
  go.mod
  go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/testing, area/tooling, area/etcdctl, stage/merge-when-tests-green, ok-to-test

#17983 etcdserver: add server range duration metrics
  CHANGELOG/CHANGELOG-3.6.md
  server/etcdserver/txn/metrics.go
  server/etcdserver/txn/metrics_test.go
  server/etcdserver/txn/txn.go
  tests/integration/metrics_test.go
Labels: area/testing, ok-to-test

#18028 embed: fix typo in comment
  server/embed/config.go
Labels: ok-to-test

#17871 Update printer.go for used/not-used ETCD storage percentage
  etcdctl/ctlv3/command/printer.go
Labels: area/etcdctl, ok-to-test

#18046 Allow gofail trigger to fail as long as the member stops running
  tests/robustness/failpoint/gofail.go
Labels: area/testing, area/robustness-testing

#18057 Increase robustness test request timeout to 200ms
  tests/robustness/traffic/traffic.go
Labels: area/testing, area/robustness-testing

#18054 workflow: change the target of make test-robustness to test-robustness-main
  .github/workflows/robustness-template.yaml
  tests/robustness/makefile.mk
Labels: area/testing, github_actions, area/robustness-testing

#18058 Complete migration of verify workflow to prow
  .github/workflows/static-analysis.yaml
  CONTRIBUTING.md
  Documentation/contributor-guide/triage_prs.md
Labels: area/documentation, area/tooling, github_actions

#18063 [3.5] config: support AllowedCN and AllowedHostname through config file
  etcd.conf.yml.sample
  server/embed/config.go
  server/embed/config_test.go
Labels: ok-to-test

#18068 CHANGELOG: add support AllowedCN and AllowedHostname
  CHANGELOG/CHANGELOG-3.5.md
Labels: ok-to-test

#18095 scripts/release: shallow clone repository
  scripts/release.sh
Labels: area/tooling, backport/v3.5

#18102 [2024-05-27] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl

#18104 [3.5] Backport removal of asset transparency workflow
  .github/workflows/asset-transparency.yaml
  README.md
Labels: area/tooling, type/cleanup, ok-to-test
