Repository etcd-io/etcd, pull requests merged in 2025-05, with the labels that each got.

#19848 fix: test-release checks
  Makefile
  scripts/test.sh
Labels: ok-to-test, size/XS, approved

#19833 tests/integration: deflaky TestMaintenanceSnapshotTimeout
  tests/integration/clientv3/maintenance_test.go
Labels: area/testing, size/S, approved

#19821 Bump indirect dependencies required to add Trivy tool dependency
  api/go.mod
  api/go.sum
  client/internal/v2/go.mod
  client/internal/v2/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/rw-heatmaps/go.mod
  tools/rw-heatmaps/go.sum
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#19843 remove DistributedTracing from feature gate list.
  server/embed/config_test.go
  server/etcdmain/config_test.go
  server/features/etcd_features.go
Labels: size/S, approved, backport/v3.6

#19753 Add instruction to change golang version when building image
  Documentation/contributor-guide/bump_etcd_version_k8s.md
Labels: area/documentation, ok-to-test, size/S, approved

#19849 Rename delete_keys to robustness
  tests/antithesis/test-template/Dockerfile
  tests/antithesis/test-template/entrypoint/main.go
  tests/antithesis/test-template/robustness/main.go
Labels: area/testing, needs-ok-to-test, size/XS, approved

#19852 Use robustness traffic generation
  tests/antithesis/test-template/robustness/main.go
  tests/robustness/traffic/etcd.go
Labels: area/testing, area/robustness-testing, ok-to-test, size/L, approved

#19846 [release 3.5] Backport Deprecated Metadata field in Endpoint struct
  client/v3/naming/endpoints/endpoints.go
Labels: ok-to-test, size/XS, approved

#19847 chore(CHANGELOG): update v3.5 and v3.6 changelog to reflect Endpoint.Metadata deprecation
  CHANGELOG/CHANGELOG-3.5.md
  CHANGELOG/CHANGELOG-3.6.md
Labels: ok-to-test, size/XS, approved

#19857 Update dependency management guide
  Documentation/contributor-guide/dependency_management.md
Labels: area/documentation, size/XS, approved

#16803 clientv3: allow setting JWT directly
  client/v3/client.go
  client/v3/client_test.go
  client/v3/config.go
  client/v3/config_test.go
  etcdctl/ctlv3/command/global.go
  etcdctl/ctlv3/ctl.go
  tests/common/auth_test.go
  tests/common/auth_util.go
  tests/common/e2e_test.go
  tests/common/integration_test.go
  tests/common/unit_test.go
  tests/framework/e2e/etcdctl.go
  tests/framework/integration/cluster.go
  tests/go.mod
Labels: area/testing, area/clientv3, area/etcdctl, ok-to-test, size/L, approved

#19865 Update roadmap to add range stream stream feature in v3.7
  Documentation/contributor-guide/roadmap.md
Labels: area/documentation, size/S, approved

#19862 release: Fix the tar unzip command, avoid permissions issues
  scripts/release_notes.tpl.txt
  scripts/test.sh
Labels: ok-to-test, size/XS, approved

#19864 [2025-05-06] Manual Dependency Bump
  api/go.mod
  api/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#19867 [release-3.6] Bump Go to 1.23.9
  .go-version
  api/go.mod
  client/pkg/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
  tools/rw-heatmaps/go.mod
  tools/testgrid-analysis/go.mod
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/S, approved

#19855 [release-3.4] add test release makefile target
  Makefile
  scripts/test_images.sh
  scripts/test_lib.sh
  test
Labels: size/M, approved

#19869 CHANGELOG(3.6): add Go 1.23.9 entry
  CHANGELOG/CHANGELOG-3.6.md
Labels: size/XS, approved

#19873 [Antithesis] Validate history collected by recording client
  tests/antithesis/test-template/robustness/main.go
  tests/robustness/main_test.go
  tests/robustness/report/report.go
  tests/robustness/validate/operations.go
  tests/robustness/validate/patch_history_test.go
  tests/robustness/validate/validate.go
  tests/robustness/validate/validate_test.go
Labels: area/testing, area/robustness-testing, size/L, approved

#19876 Fix antithesis driver command type
  tests/antithesis/test-template/Dockerfile
Labels: area/testing, size/XS, approved

#19870 [release-3.5] Bump Go to 1.23.9
  .go-version
  api/go.mod
  client/pkg/go.mod
  client/v2/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  raft/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
Labels: size/S, approved

#19879 Fix repeated closure of channel
  tests/antithesis/test-template/robustness/main.go
Labels: area/testing, size/S, approved

#19886 doc: add example PR of kubernetes/org for release.
  Documentation/contributor-guide/release.md
Labels: area/documentation, size/M, approved

#19881 [release-3.4] github/workflows: remove govuln tests
  .github/workflows/govuln.yaml
Labels: size/S, approved

#19877 [release-3.4] github/workflows: remove release tests
  .github/workflows/release.yaml
Labels: size/M, approved

#19888 [Antithesis] Document running validation
  tests/antithesis/README.md
Labels: area/testing, ok-to-test, size/S, approved

#19892 Allow retryable check of database empty and enable failure injection in Antithesis
  tests/antithesis/README.md
  tests/antithesis/test-template/Dockerfile
  tests/antithesis/test-template/robustness/main.go
  tests/robustness/main_test.go
  tests/robustness/traffic/traffic.go
  tests/robustness/validate/validate.go
  tests/robustness/validate/validate_test.go
Labels: area/testing, area/robustness-testing, size/L, approved

#19894 Update v3.6.0-rc.5 release date
  CHANGELOG/CHANGELOG-3.6.md
Labels: size/XS, approved

#19898 antithesis: replaced Reachable/Unreachable assertion with Always
  tests/antithesis/test-template/robustness/main.go
Labels: area/testing, ok-to-test, size/S, approved

#19896 [release-3.4] release: Fix the tar unzip command, avoid permissions issues
  scripts/release_notes.tpl.txt
  test
Labels: ok-to-test, size/XS, approved

#19903 Move counting time after we confirm that database is empty
  tests/antithesis/test-template/robustness/main.go
Labels: area/testing, size/XS, approved

#19889 [Antithesis] Get access to etcd data directory
  tests/antithesis/Makefile
  tests/antithesis/README.md
  tests/antithesis/docker-compose.yml
  tests/antithesis/test-template/robustness/main.go
Labels: area/testing, ok-to-test, size/L, approved

#19906 Add ubuntu image to antithesis configuration
  .github/workflows/antithesis-test.yml
  tests/antithesis/docker-compose.yml
Labels: area/testing, github_actions, size/XS, approved

#19907 Disable validation of assumption for persisted requests
  tests/robustness/validate/validate.go
Labels: area/testing, area/robustness-testing, size/M, approved

#19891 feat(client/v3): export username/password error
  client/v3/client.go
  client/v3/client_test.go
Labels: area/clientv3, size/XS, approved

#19917 Add benchmark for linearization
  tests/robustness/validate/operations_test.go
Labels: area/testing, area/robustness-testing, size/L, approved

#19912 Avoid encoding to Json to reduce overhead
  tests/robustness/model/deterministic.go
  tests/robustness/model/non_deterministic.go
Labels: area/testing, area/robustness-testing, size/M, approved

#19916 After failed request fallback to LIST
  tests/robustness/traffic/etcd.go
Labels: area/testing, area/robustness-testing, size/XS, approved

#19918 Avoid copying state for read requests
  tests/robustness/model/deterministic.go
Labels: area/testing, area/robustness-testing, size/S, approved

#19909 CHANGELOG(3.5): add Go 1.23.9 entry
  CHANGELOG/CHANGELOG-3.5.md
Labels: size/XS, approved

#19914 listed removed flags in v3.6.0-rc.3
  CHANGELOG/CHANGELOG-3.6.md
Labels: ok-to-test, size/S, approved

#19908 [main] Bump Go to 1.24.3
  .go-version
  api/go.mod
  client/internal/v2/go.mod
  client/pkg/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  server/go.mod
  tests/antithesis/test-template/Dockerfile
  tests/go.mod
  tools/mod/go.mod
  tools/rw-heatmaps/go.mod
  tools/testgrid-analysis/go.mod
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/M, approved

#19910 CHANGELOG(3.4): add Go 1.23.9 entry
  CHANGELOG/CHANGELOG-3.4.md
Labels: size/XS, approved

#19933 robustness: improved visualization for EtcdState and WatchOperation
  tests/robustness/model/deterministic.go
  tests/robustness/model/non_deterministic.go
  tests/robustness/model/replay.go
  tests/robustness/model/watch.go
  tests/robustness/report/client.go
Labels: area/testing, area/robustness-testing, size/M, approved

#19600 mvcc: avoid double decrement of watcher gauge on close/cancel race
  server/storage/mvcc/watchable_store.go
  server/storage/mvcc/watchable_store_test.go
Labels: ok-to-test, size/L, approved

#19936 [2025-05-14] Manual Dependency Bump
  api/go.mod
  api/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/rw-heatmaps/go.mod
  tools/rw-heatmaps/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#19915 [Antithesis] dump result to robustness report
  tests/antithesis/docker-compose.yml
  tests/antithesis/test-template/robustness/main.go
  tests/robustness/main_test.go
  tests/robustness/report/client.go
  tests/robustness/report/client_test.go
  tests/robustness/report/report.go
Labels: area/testing, area/robustness-testing, ok-to-test, size/L, approved

#19939 Antithesis fixes
  tests/antithesis/README.md
  tests/antithesis/test-template/Dockerfile
  tests/robustness/validate/validate.go
Labels: area/testing, area/robustness-testing, size/M, approved

#19458 chore: remove unused and deprecated func `GetEffectiveNodeIdsFromWalEntries`
  server/storage/util.go
Labels: ok-to-test, size/S, approved

#19945 Add test-robustness-release-3.6 Makefile target
  tests/robustness/Makefile
Labels: area/testing, area/robustness-testing, size/S, approved

#19947 [Integration Test]: Add test for panic-free removal of non-existent members
  tests/integration/member_test.go
Labels: area/testing, ok-to-test, size/M, approved

#19949 Don't panic if could not read the persisted requests
  tests/antithesis/test-template/robustness/main.go
  tests/robustness/main_test.go
  tests/robustness/report/wal.go
  tests/robustness/validate/operations.go
  tests/robustness/validate/validate.go
  tests/robustness/validate/validate_test.go
Labels: area/testing, area/robustness-testing, size/M, approved

#19951 [release-3.6] Update release script to exactly match the target tag
  scripts/release.sh
Labels: size/XS, approved

#19952 Update for release v3.6.0
  CHANGELOG/CHANGELOG-3.6.md
Labels: size/XS, approved

#19950 [release-3.5][Integration Test]: Add test for panic-free removal of non-existent members
  tests/integration/member_test.go
Labels: ok-to-test, size/M, approved

#19698 Assume v3 store is always not nil
  server/etcdserver/api/membership/cluster.go
  server/etcdserver/api/membership/cluster_test.go
  server/etcdserver/api/membership/storev2.go
  server/etcdserver/apply/uber_applier_test.go
  tests/e2e/v2store_deprecation_test.go
Labels: area/testing, size/M, approved

#19960 Allow observing inconsistent WAL entries on one of the members
  tests/robustness/report/wal.go
  tests/robustness/report/wal_test.go
Labels: area/testing, area/robustness-testing, size/L, approved

#19956 Build dedicated etcd image for antithesis
  .github/workflows/antithesis-test.yml
  tests/antithesis/Makefile
  tests/antithesis/README.md
  tests/antithesis/docker-compose.yml
Labels: area/testing, github_actions, needs-ok-to-test, size/S, approved

#19946 [Antithesis] Add support for watch requests
  tests/antithesis/test-template/robustness/main.go
  tests/robustness/client/watch.go
  tests/robustness/main_test.go
  tests/robustness/report/client.go
Labels: area/testing, area/robustness-testing, needs-ok-to-test, size/L, approved

#19963 Fix building antithesis etcd image
  .github/workflows/antithesis-test.yml
Labels: github_actions, size/XS, approved

#19964 Fetch branch when building antithesis image
  tests/antithesis/Makefile
Labels: area/testing, size/XS, approved

#19967 Fix missing KV reports in antithesis
  tests/antithesis/test-template/robustness/main.go
  tests/robustness/client/watch.go
Labels: area/testing, area/robustness-testing, size/XS, approved

#19968 Fix error handling in watch
  tests/antithesis/test-template/robustness/main.go
  tests/robustness/client/watch.go
  tests/robustness/main_test.go
Labels: area/testing, area/robustness-testing, size/M, approved

#19966 Prevent exiting before watch closes
  tests/antithesis/Makefile
  tests/robustness/client/watch.go
Labels: area/testing, area/robustness-testing, size/S, approved

#19972 Add StaleGet traffic for antithesis
  tests/robustness/traffic/etcd.go
Labels: area/testing, area/robustness-testing, ok-to-test, size/XS, approved

#19977 Make visualization more compact
  tests/robustness/model/describe.go
  tests/robustness/model/non_deterministic.go
Labels: area/testing, area/robustness-testing, size/M, approved

#19970 Allow case where only one member observed all requests
  tests/robustness/report/wal.go
  tests/robustness/report/wal_test.go
Labels: area/testing, area/robustness-testing, size/M, approved

#19985 Add Stale List traffic for antithesis
  tests/robustness/traffic/etcd.go
Labels: area/testing, area/robustness-testing, size/XS, approved

#19986 stale action: exempt help wanted label for stale action
  .github/workflows/stale.yaml
Labels: github_actions, ok-to-test, size/XS, approved

#19961 Bump version to 3.7
  api/version/version.go
  etcdutl/snapshot/v3_snapshot_test.go
  server/etcdserver/api/capability.go
  server/etcdserver/api/rafthttp/stream.go
  server/etcdserver/bootstrap_test.go
  server/storage/schema/migration_test.go
  server/storage/schema/schema.go
  server/storage/schema/schema_test.go
  tests/e2e/ctl_v3_snapshot_test.go
  tests/e2e/discovery_test.go
  tests/e2e/utl_migrate_test.go
  tests/e2e/v2store_deprecation_test.go
  tests/framework/e2e/cluster.go
  tests/framework/e2e/cluster_test.go
  tests/go.mod
  tests/integration/clientv3/maintenance_test.go
  tests/integration/clientv3/snapshot/v3_snapshot_test.go
Labels: area/testing, area/etcdutl, size/L, approved

#19959 Cleanup the deprecated experimental flags
  server/config/config.go
  server/embed/config.go
  server/embed/config_test.go
  server/embed/etcd.go
  server/etcdmain/config.go
  server/etcdmain/config_test.go
  server/etcdmain/help.go
  server/etcdserver/bootstrap.go
  server/features/etcd_features.go
  tests/e2e/corrupt_test.go
  tests/e2e/ctl_v3_test.go
  tests/e2e/etcd_config_test.go
  tests/e2e/failover_test.go
  tests/e2e/promote_experimental_flag_test.go
  tests/framework/e2e/cluster.go
  tests/framework/e2e/cluster_test.go
  tests/robustness/failpoint/trigger.go
  tests/robustness/main_test.go
  tests/robustness/options/server_config_options.go
  tests/robustness/scenarios/scenarios.go
Labels: area/testing, area/robustness-testing, size/XXL, approved

#19989 Add delete traffic for antithesis
  tests/robustness/traffic/etcd.go
Labels: area/testing, area/robustness-testing, size/XS, approved

#19995 Measure traffic during test
  tests/antithesis/test-template/robustness/traffic/main.go
  tests/robustness/traffic/traffic.go
Labels: area/testing, area/robustness-testing, size/M, approved

#19768 adt: split interval tree by right endpoint on matched left endpoints
  pkg/adt/interval_tree.go
Labels: area/performance, ok-to-test, size/M, approved

#19911 [release-3.4] Update make verify for prow job
  .github/workflows/static-analysis.yaml
  .github/workflows/tests.yaml
  Makefile
  test
Labels: size/L, approved

#20014 Add PutWithLease traffic
  tests/robustness/traffic/etcd.go
Labels: area/testing, area/robustness-testing, size/XS, approved

#20010 remove deprecated SyncTicker in EtcdServer
  server/etcdserver/raft_test.go
  server/etcdserver/server.go
  server/etcdserver/server_test.go
  tests/framework/integration/cluster.go
Labels: area/testing, ok-to-test, size/M, approved

#20016 Move parseArgs into e2e framework
  tests/e2e/ctl_v3_member_no_proxy_test.go
  tests/e2e/ctl_v3_snapshot_test.go
  tests/e2e/utils.go
  tests/framework/e2e/cluster.go
  tests/framework/e2e/cluster_test.go
Labels: area/testing, size/M, approved

#20001 Converts between experimental and non-experimental flags in downgrade & upgrade robustness & e2e test
  tests/framework/e2e/cluster.go
  tests/framework/e2e/config.go
  tests/framework/e2e/downgrade.go
Labels: area/testing, size/M, approved

#19695 Assume v2 store is always not nil
  server/etcdserver/api/membership/cluster.go
  server/etcdserver/api/membership/cluster_test.go
  server/etcdserver/api/membership/membership_test.go
  server/etcdserver/server_test.go
Labels: size/M, approved

#20019 Remove prefix `--experimental-` instead of `--experimental` from flag
  tests/framework/e2e/config.go
Labels: area/testing, size/XS, approved

#20002 Add key window to achieve unique keys for delete operations
  tests/antithesis/test-template/robustness/traffic/main.go
  tests/robustness/traffic/etcd.go
  tests/robustness/traffic/key_store.go
  tests/robustness/traffic/kubernetes.go
  tests/robustness/traffic/traffic.go
Labels: area/testing, area/robustness-testing, size/L, approved

#20011 [release-3.4] Add verify-mod-tidy Makefile target
  Makefile
  build
  test
Labels: size/S

#20025 Add changelog for otelgrpc to v0.61.0
  CHANGELOG/CHANGELOG-3.7.md
Labels: size/XS, approved

#20039 [2025-05-28] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  bill-of-materials.json
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#20043 Semi-Automated cherry pick of #20017 upstream release 3.6 ( was Update go.opentelemetry.io/contrib/instrumentation/google.golang.org/grpc/otelgrpc to work with v0.61.0 )
  server/etcdserver/api/v3rpc/grpc.go
  tests/integration/tracing_test.go
Labels: area/testing, size/M, approved

#20045 Add changelog for deprecated/removed otelgrpc API
  CHANGELOG/CHANGELOG-3.6.md
Labels: size/XS, approved

#20026 Add protection on `PromoteMember` and `UpdateRaftAttributes`
  server/etcdserver/api/membership/cluster.go
  server/etcdserver/api/membership/cluster_test.go
  tests/e2e/force_new_cluster_test.go
Labels: area/testing, release/v3.6, size/L, approved, backport/v3.6

#20051 [release-3.6] Add protection on `PromoteMember` and `UpdateRaftAttributes`
  server/etcdserver/api/membership/cluster.go
  server/etcdserver/api/membership/cluster_test.go
  tests/e2e/force_new_cluster_test.go
Labels: area/testing, size/L, approved

#20062 tests/e2e: address usetesting issues
  tests/e2e/etcd_release_upgrade_test.go
  tests/e2e/reproduce_19406_test.go
Labels: area/testing, size/S, approved

#20067 [release-3.6] mvcc: avoid double decrement of watcher gauge on close/cancel race (3.6 backport)
  server/storage/mvcc/watchable_store.go
  server/storage/mvcc/watchable_store_test.go
Labels: ok-to-test, size/L, approved

#20066 [release-3.5] mvcc: avoid double decrement of watcher gauge on close/cancel race (3.5 backport)
  server/mvcc/watchable_store.go
  server/mvcc/watchable_store_test.go
Labels: ok-to-test, size/L, approved

#20065 [release-3.4] mvcc: avoid double decrement of watcher gauge on close/cancel race (3.4 backport)
  mvcc/watchable_store.go
  mvcc/watchable_store_test.go
Labels: ok-to-test, size/L, approved

#20068 Fix LICENSE file
  LICENSE
  api/LICENSE
  bill-of-materials.json
  client/internal/v2/LICENSE
  client/pkg/LICENSE
  client/v3/LICENSE
  etcdctl/LICENSE
  etcdutl/LICENSE
  pkg/LICENSE
  server/LICENSE
  tests/LICENSE
Labels: area/testing, area/clientv3, area/etcdctl, area/etcdutl, size/M, approved

#20056 Setup directory for cache
  cache/LICENSE
  cache/OWNERS
  cache/README.md
  cache/cache.go
  cache/go.mod
  scripts/test.sh
  scripts/test_lib.sh
Labels: size/L, approved

#20070 tests/common: address Go 1.24 usetesting issues
  tests/common/auth_test.go
Labels: area/testing, size/XS, approved

#20055 Fix the issue that `--force-new-cluster` can't remove all other members in a corner case
  server/etcdserver/bootstrap.go
  tests/e2e/force_new_cluster_test.go
  tests/framework/e2e/cluster.go
  tests/go.mod
Labels: area/testing, backport/v3.4, backport/v3.5, size/L, approved, backport/v3.6

#20079 chore(test): address Go usetesting for `concurrency`
  tests/integration/clientv3/concurrency/election_test.go
  tests/integration/clientv3/concurrency/mutex_test.go
  tests/integration/clientv3/concurrency/session_test.go
Labels: area/testing, size/S

#20080 chore(test): address Go usetesting for `connectivity`
  tests/integration/clientv3/connectivity/black_hole_test.go
  tests/integration/clientv3/connectivity/dial_test.go
  tests/integration/clientv3/connectivity/network_partition_test.go
  tests/integration/clientv3/connectivity/server_shutdown_test.go
Labels: area/testing, size/M, approved

#20082 chore(test): address usetesting issues in `lease_test.go`
  tests/integration/clientv3/lease/lease_test.go
Labels: area/testing, size/L, approved

#20071 [release-3.6] Fix the issue that `--force-new-cluster` can't remove all other members in a corner case
  server/etcdserver/bootstrap.go
  tests/e2e/force_new_cluster_test.go
  tests/framework/e2e/cluster.go
Labels: area/testing, size/L, approved

#20084 chore(test): address Go usetesting for `watch_test`
  tests/integration/clientv3/watch_test.go
Labels: area/testing, size/M, approved
