Repository etcd-io/etcd, pull requests merged in 2025-08, with the labels that each got.

#20430 Update robustness README
  tests/robustness/README.md
Labels: area/testing, area/robustness-testing, ok-to-test, size/M, approved

#20431 Test Antithesis makefile targets in a CI run
  .github/workflows/antithesis-verify.yml
Labels: github_actions, ok-to-test, size/M, approved

#20372 cache: implement storage for last‐observed state
  cache/cache.go
  cache/cache_test.go
  cache/config.go
  cache/store.go
  tests/integration/cache_test.go
Labels: area/testing, area/clientv3, ok-to-test, size/XL

#20443 cache: refactor TestCacheWithoutPrefixGet for different initialization scenarios and added shared applyEvents helper
  tests/integration/cache_test.go
Labels: area/testing, ok-to-test, size/L, approved

#20435 Use raft index to merge WAL files allowing to merge incomplete histories
  tests/robustness/report/wal.go
  tests/robustness/report/wal_test.go
Labels: area/testing, area/robustness-testing, size/L, approved

#20448 cache: consolidate ErrKeyRangeInvalid assertion in TestCacheWithPrefixGet
  tests/integration/cache_test.go
Labels: area/testing, ok-to-test, size/XS, approved

#20420 Migrate grpc-logging to grpc-middleware v2
  bill-of-materials.json
  server/etcdmain/grpc_proxy.go
  server/etcdmain/grpc_proxy_logger.go
  server/etcdmain/grpc_proxy_logger_test.go
  server/go.mod
  server/go.sum
Labels: area/testing, area/clientv3, area/etcdctl, area/etcdutl, size/L, approved

#20445 Update grpc-middleware migration in CHANGELOG-3.7
  CHANGELOG/CHANGELOG-3.7.md
Labels: size/XS, approved

#20454 add e2e to reproduce issue 18667
  tests/e2e/reproduce_18667_test.go
Labels: area/testing, ok-to-test, size/M, approved

#20461 [release-3.6] Bump go to 1.23.12
  .go-version
  api/go.mod
  client/pkg/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
  tools/rw-heatmaps/go.mod
  tools/testgrid-analysis/go.mod
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/S, approved

#20463 [release-3.4] Bump Go to 1.23.12
  .go-version
  go.mod
  tools/mod/go.mod
Labels: size/XS, approved

#20462 [release-3.5] Bump Go to 1.23.12
  .go-version
  api/go.mod
  client/pkg/go.mod
  client/v2/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  raft/go.mod
  server/go.mod
  tests/go.mod
  tools/mod/go.mod
Labels: size/S, approved

#20486 CHANGELOG: update 3.7 changelog, add organize etcdctl commads related
  CHANGELOG/CHANGELOG-3.7.md
Labels: size/XS, approved

#20489 [release-3.4] back port gofail comments
  etcdserver/api/membership/cluster.go
  etcdserver/api/v3rpc/watch.go
  etcdserver/raft.go
  etcdserver/server.go
  mvcc/backend/backend.go
  mvcc/backend/batch_tx.go
  mvcc/kvstore.go
  mvcc/kvstore_compaction.go
Labels: ok-to-test, size/S, approved

#20477 cache: make ring buffer generic for events and snapshots
  cache/demux.go
  cache/ringbuffer.go
  cache/ringbuffer_test.go
Labels: ok-to-test, size/L, approved

#20494 Remove checking `confState` during schema migration
  server/storage/schema/schema.go
  server/storage/schema/schema_test.go
  tests/e2e/logging_test.go
Labels: area/testing, size/M, approved, backport/v3.6

#20497 Update 3.6 changelog to cover the confState not populated issue
  CHANGELOG/CHANGELOG-3.6.md
Labels: size/XS, approved

#20502 cache: move batching to demux so that ringBuffer stores single item
  cache/demux.go
  cache/ringbuffer.go
  cache/ringbuffer_test.go
Labels: ok-to-test, size/L, approved

#20512 Bump bbolt to v1.4.3
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Labels: area/testing, area/etcdutl, size/S, approved

#20515 [release-3.4] Bump bbolt to v1.3.12
  go.mod
  go.sum
Labels: size/XS, approved

#20513 [release-3.6] Bump bbolt to v1.4.3
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Labels: area/testing, area/etcdutl, size/S, approved

#20514 [release-3.5] Bump bbolt to v1.3.12
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
Labels: size/M, approved

#20525 tests: skip TestCorruptedBackupFileCheck test on big endian platforms
  tests/integration/snapshot/v3_snapshot_test.go
Labels: area/testing, ok-to-test, size/XS, approved

#20493 etcdctl: hide global flags
  etcdctl/ctlv3/command/options_command.go
  etcdctl/ctlv3/ctl.go
Labels: area/etcdctl, size/M, approved

#20536 [release-3.4] back port tests: skip TestCorruptedBackupFileCheck test on big endian platforms
  clientv3/snapshot/v3_snapshot_test.go
Labels: ok-to-test, size/XS

#20499 cache: remove early compaction check from Cache.Watch
  cache/cache.go
  cache/demux.go
  cache/watcher.go
Labels: area/testing, ok-to-test, size/M, approved

#20540 [2025-08-22] Bump dependency updates identified by dependabot
  tools/mod/go.mod
  tools/mod/go.sum
Labels: area/tooling, size/XS, approved

#20541 cache: change watcher.eventQueue to respCh (clientv3.WatchResponse)
  cache/cache.go
  cache/demux_test.go
  cache/watcher.go
Labels: ok-to-test, size/M, approved

#20542 Start collecting traces from apiserver in robustness/coverage/README.md
  tests/robustness/coverage/README.md
  tests/robustness/coverage/apiserver-shared-conf/tracing.yaml
  tests/robustness/coverage/kind-with-tracing.yaml
Labels: area/testing, area/robustness-testing, ok-to-test, size/L, approved

#20554 Add contract attribution to trace analysis
  tests/robustness/coverage/README.md
  tests/robustness/coverage/contract_test.go
  tests/robustness/coverage/coverage_test.go
  tests/robustness/coverage/patches/kubernetes/0001-Add-Open-Telemetry-trace-event-when-passing-through-.patch
  tests/robustness/coverage/patches/kubernetes/0002-Add-kubernetesEtcdContractTracker.patch
  tests/robustness/coverage/patches/kubernetes/0003-Add-1m-timeout-to-Watch-to-ensure-Spans-are-exported.patch
  tests/robustness/coverage/patches/kubernetes/0004-Configure-cmd-tests.patch
Labels: area/testing, area/robustness-testing, ok-to-test, size/L, approved

#20507 cache: migrate storage layer to B-tree
  cache/cache.go
  cache/config.go
  cache/go.mod
  cache/go.sum
  cache/store.go
  cache/store_test.go
Labels: ok-to-test, size/L, approved

#20555 Expand Lease test case in trace analysis
  tests/robustness/coverage/coverage_test.go
Labels: area/testing, area/robustness-testing, ok-to-test, size/L, approved

#20567 Update matchers in trace analysis
  tests/robustness/coverage/coverage_test.go
Labels: area/testing, area/robustness-testing, ok-to-test, size/M, approved

#20574 [2025-08-27] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  cache/go.mod
  cache/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#20564 cache: implement snapshots & enable cache.Get(rev>0)
  cache/cache.go
  cache/snapshot.go
  cache/store.go
  cache/store_test.go
  tests/integration/cache_test.go
Labels: area/testing, ok-to-test, size/L, approved

#20581 cache: assert ErrFutureRev in testGet
  tests/integration/cache_test.go
Labels: area/testing, ok-to-test, size/M, approved
