Repository etcd-io/etcd, pull requests merged in 2025-09, with the labels that each got.

#20600 dependency: lock antithesis-trigger-action to v0.9
  .github/workflows/antithesis-test.yml
Labels: github_actions, size/XS, approved

#20604 Add an option to collect traces from robustness tests
  tests/framework/e2e/cluster.go
  tests/robustness/README.md
  tests/robustness/coverage/README.md
  tests/robustness/coverage/coverage_test.go
  tests/robustness/scenarios/scenarios.go
Labels: area/testing, area/robustness-testing, ok-to-test, size/L, approved

#20590 Re-check that the lease still exists during the renew process
  server/lease/lessor.go
  tests/e2e/v3_lease_no_proxy_test.go
  tests/robustness/Makefile
Labels: area/testing, backport/v3.5, area/robustness-testing, size/M, approved, backport/v3.6

#20605 robustness: add watch stats measurement to traffic tests
  tests/robustness/traffic/traffic.go
Labels: area/testing, area/robustness-testing, ok-to-test, size/M, approved

#20618 [release-3.4] bump go to 1.24.7
  .go-version
  clientv3/retry_interceptor.go
  etcdctl/ctlv2/command/exec_watch_command.go
  etcdserver/api/rafthttp/peer_status.go
  etcdserver/api/rafthttp/stream_test.go
  etcdserver/api/v2store/store_test.go
  functional/tester/cluster_test.go
  functional/tester/utils.go
  go.mod
  integration/metrics_test.go
  integration/v3_lease_test.go
  mvcc/backend/backend.go
  pkg/logutil/merge_logger.go
  pkg/testutil/testutil.go
  raft/quorum/datadriven_test.go
  tools/mod/go.mod
Labels: size/M, approved

#20619 Bump dependency for the week 20250901-20250907
  api/go.mod
  api/go.sum
  bill-of-materials.json
  cache/go.mod
  cache/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/rw-heatmaps/go.mod
  tools/rw-heatmaps/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/XL, approved

#20616 [release-3.5] Re-check that the lease still exists during the renew process
  build.sh
  server/lease/lessor.go
  tests/e2e/v3_lease_no_proxy_test.go
Labels: size/M, approved

#20606 Add Get, GetStale, GetRev to Kubernetes robustness tests
  tests/robustness/traffic/kubernetes.go
Labels: area/testing, area/robustness-testing, ok-to-test, size/M, approved

#20639 cache: change demux.Broadcast to accept clientv3.WatchResponse
  cache/cache.go
  cache/demux.go
  cache/demux_test.go
Labels: ok-to-test, size/S, approved

#20637 [2025-09-09] Bump dependency updates identified by dependabot
  api/go.mod
  api/go.sum
  cache/go.mod
  cache/go.sum
  client/pkg/go.mod
  client/pkg/go.sum
  client/v3/go.mod
  client/v3/go.sum
  etcdctl/go.mod
  etcdctl/go.sum
  etcdutl/go.mod
  etcdutl/go.sum
  go.mod
  go.sum
  pkg/go.mod
  pkg/go.sum
  server/go.mod
  server/go.sum
  tests/go.mod
  tests/go.sum
  tools/mod/go.mod
  tools/mod/go.sum
  tools/rw-heatmaps/go.mod
  tools/rw-heatmaps/go.sum
  tools/testgrid-analysis/go.mod
  tools/testgrid-analysis/go.sum
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/L, approved

#20643 Reduce the antithesis docker image footprint
  tests/antithesis/server/Dockerfile
  tests/antithesis/test-template/Dockerfile
Labels: area/testing, size/S, approved

#20662 Fix minor linter warning in robustness tests
  tests/robustness/client/watch.go
Labels: area/testing, area/robustness-testing, size/XS, approved

#20659 [release-3.4] protect backend usage from concurrent applySnapshot and defrag
  etcdserver/api/v3rpc/maintenance.go
  etcdserver/server.go
  tests/e2e/etcd_process.go
  tests/e2e/reproduce_20271_test.go
Labels: ok-to-test, size/L, approved

#20680 build(deps): bump github/codeql-action from 3.30.1 to 3.30.3
  .github/workflows/codeql-analysis.yml
  .github/workflows/scorecards.yml
Labels: github_actions, size/XS, approved

#20635 dependency: Bump Go from 1.24.6 to 1.25.1
  .go-version
  api/go.mod
  cache/go.mod
  client/pkg/go.mod
  client/v3/go.mod
  etcdctl/go.mod
  etcdutl/go.mod
  go.mod
  pkg/go.mod
  server/go.mod
  tests/antithesis/config/Dockerfile
  tests/antithesis/server/Dockerfile
  tests/antithesis/test-template/Dockerfile
  tests/go.mod
  tools/mod/go.mod
  tools/rw-heatmaps/go.mod
  tools/testgrid-analysis/go.mod
Labels: area/performance, area/testing, area/clientv3, area/tooling, area/etcdctl, area/etcdutl, size/M, approved

#20685 refactor: omit unnecessary reassignment
  tools/benchmark/cmd/watch_latency.go
Labels: area/performance, area/tooling, ok-to-test, size/XS, approved

#20683 Implement a feature to periodically open watches in robustness test and make it configurable
  tests/antithesis/test-template/robustness/traffic/main.go
  tests/robustness/client/watch.go
  tests/robustness/main_test.go
  tests/robustness/options/options.go
  tests/robustness/traffic/traffic.go
Labels: area/testing, area/robustness-testing, size/L, approved

#20690 CHANGELOG: Set release 3.5.23 and 3.6.5 dates
  CHANGELOG/CHANGELOG-3.5.md
  CHANGELOG/CHANGELOG-3.6.md
Labels: size/S, approved

#20688 Use reflect.DeepEqual to speed up comparison
  tests/robustness/validate/watch.go
Labels: area/testing, area/robustness-testing, size/S, approved

#20692 Refactor watch tests
  tests/integration/clientv3/watch/v3_watch_restore_test.go
  tests/integration/clientv3/watch/v3_watch_test.go
  tests/integration/clientv3/watch/watch_fragment_test.go
  tests/integration/clientv3/watch/watch_test.go
Labels: area/testing, size/S, approved

#20722 Add golang.org/x/tools/cmd/goimports tool dependency
  tools/mod/go.mod
  tools/mod/tools.go
Labels: area/tooling, size/XS, approved

#20727 chore: fix inconsistent function name in comment
  Documentation/dev-guide/apispec/swagger/rpc.swagger.json
  api/etcdserverpb/rpc.pb.go
  api/etcdserverpb/rpc.proto
Labels: area/documentation, ok-to-test, size/XS, approved

#20737 chore: fix some typos in comment
  client/pkg/testutil/leak.go
  client/v3/client_test.go
  client/v3/watch.go
  pkg/expect/expect.go
  pkg/grpctesting/stub_server.go
  server/etcdserver/api/v3discovery/discovery_test.go
  server/proxy/grpcproxy/watch_broadcasts.go
  server/storage/mvcc/watchable_store_test.go
Labels: area/clientv3, ok-to-test, size/S, approved
